.hidden_user, .hidden_category, .hidden_local_storage{
  display:none;
  color:red;
}

.hbx_product_header_links{
  margin-bottom:30px;
}

.hbx_product_content{
  padding:10px;
}

.product_container{
  display:flex;
  margin-left: 60px;
}

.product_preview_container{
  padding-right: 13px;
  width:75px;
}

.product_preview_img img{
  height:94px;
  margin-bottom: 8px;
  cursor: pointer;
}

.product_on_display_container{
  border-left: 10px solid white;
  display:flex;
  width: 553.8px;
  overflow:hidden;
}

.product_on_display img{
  height:200px;
  flex-wrap:wrap;
  height:720px;
  position:relative;
  cursor: pointer;
}

.product_on_display{
  position:relative;
  right:0;
}

.product_details_container{
  padding-left: 25px;
  width: 30%;
}

.hidden_product_sizes_arr{
  display:none;
}

.product_size_container li{
  display:inline-block;
}

.product_size_container{
  padding-left:0;
  font-size:13px;
  margin-top: 22px;
  margin-bottom: 14px;
}

.product_title{
  padding-right:15px;
  font-size:13px;
  padding-bottom:6px;
}

.find_your_size:hover{
  color:#4999D2;
}

.find_your_size{
  color:#006DBE;
  cursor:pointer;
}

.product_sizes:hover{
  background-color:black;
  border:1px solid black;
  color:white;
  cursor:pointer;
}

.product_sizes, .size_div{
  padding-bottom: unset !important;
  display: inline-block;
  border: 1px solid #999999;
  padding-top: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 44px;
  height: 27px;
  text-align: center;
}

.size_div:hover{
  border: 1px solid black;
  cursor:pointer;
}

.product_name_left{
  font-size:28px;
  padding-top:6px;
  text-align:left;
}

.product_price_left{
  text-align:left;
  padding-top:16px;
}

.select_color_container{
  margin-top:24px;
  margin-bottom: 20px;
}

.select_color_inner select{
  height:40px !important;
  width:240px !important;
}

.select_color_inner{
  border: 1px solid #999999;
  width: 250px;
  background-color: white;
  width: 250px;
  background-color: white;
}

.sizes_container{
  margin-top:8px;
}

.product_item_count_select_container{
  margin-top: 3px;
  display:flex;
  border:1px solid #999999;
  width:144px;
}

.item_count_minus:hover{
  background-color:#F0F0F0;
  cursor:not-allowed;
}

.item_count_plus:hover{
  background-color:#F0F0F0;
  cursor:pointer;
}

.item_count_minus, .item_count_plus{
  user-select: none;
  padding: 13px 10px 13px 10px;
}

.item_count_amt{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 13px 40px 13px 40px;
}

.product_add_to_cart_button:hover{
  cursor: not-allowed;
  opacity:0.8;
}

.product_add_to_cart_button{
  margin: 20px 0 25px 0;
  background-color: black;
  color: white;
  padding: 14px;
  text-align: center;
  font-size: 13px;
}

.product_disclaimer_1,
.product_disclaimer_2,
.product_disclaimer_3,
.product_disclaimer_4,
.product_social_media_links{
  display:flex;
  margin-bottom:5px;
}

.product_disclaimer_3{
  margin-top:13px;
}

.disclaimer_p{
  margin: 7px 0 0 8px;
}

.disclaimer_notice_p{
  margin: 3px 0 0 4px;
}

.disclaimer_notice_p{
  color:#999999;
  font-size:13px;
}

.disclaimer_images{
  height:30px;
}

.disclaimer_notice_images{
  height:19px;
}

.wishlist_container:hover .disclaimer_notice_p{
  color:black;
}

.wishlist_container{
  float: right;
  display: inline-flex;
  margin-top: -30px;
  color:#7D7D7D;
  cursor:pointer;
}

.product_footer_details{
  background-color: #F0F0F0;
  padding: 10px;
  margin-top:20px;
}

.product_details_header{
  font-weight: 500;
  text-align:center;
}

.product_details_section_header{
  margin-top: 15px;
  font-size: 13px;
}

.product_details_content_containers{
  display:flex;
}

.product_details_left_container, .product_details_right_container{
  border-top:1px solid #E0E0E0;
  margin:15px;
  width:50%;
}

.product_right_details{
  font-size:14px;
}

.footer_details .product_details li{
  margin-bottom:3px;
}

.footer_details .product_details ul{
  list-style: unset !important;
  padding-left: 17px !important;
}

.product_sizing_button span{
  position: relative;
  top: -7px;
  margin-left: 4px;
}

.product_sizing_button:hover{
  opacity: 0.7;
}

.product_sizing_button{
  background-color:black;
  padding:7px;
  color:white;
  cursor:pointer;
  width:103px;
  font-size:13px;
}

.sizing_ruler_img{
  height:25px;
}

.product_shipping_info{
  border-top:1px solid #E0E0E0;
  margin-top:20px;
  padding-bottom:15px;
}

.shipping_info_p{
  margin-top:10px;
  font-size:13px;
}

.product_footer_details_contact{
  border-top:1px solid #E0E0E0;
}

.product_footer_details_contact ul{
  padding-left:0;
  margin-top: 8px;
}

.product_footer_details_contact li:hover{
  cursor:pointer;
  color:grey;
}

.product_footer_details_contact li{
  display:inline-block;
  margin-right:15px;
  font-size:14px;
}

.contact_images{
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 2px;
}

.product_social_media_links img{
  height: 22px;
  position: relative;
  top: 9px;
}

.product_social_media_links img:hover{
  cursor:pointer;
}

.product_social_media_links .product_title{
  font-size:unset;
  margin-top:10px;
}

.related_products_container{
  background-color:white;
  padding:20px;
  display:none;
}

.related_header{
  text-align:center;
  font-size:24px;
  margin-top: 20px;
  margin-bottom:25px;
}

.related_products{
  padding: 0 10px 10px 10px;
  text-align: center;
  display: flex;
  margin: auto;
  max-width: 1083px;
  padding: 3px;
  overflow: hidden;
}

.related_products img{
  height:300px;
  padding:0 20px 10px 20px;
  position:relative;
}

.related_product_name, .relaed_product_new{
  color:#888888;
}

.carousel_controls{
  margin-top:70px;
  margin-bottom:30px;
  text-align: center;
}

.dot_buttons{
  display: inline-block;
  padding: 0 30px 0 30px;
  position: relative;
  top: -6px;
}

.circle_1:hover, .circle_2:hover, .circle_3:hover{
  opacity:0.2;
  cursor:pointer;
}

.fa-angle-left, .fa-angle-right{
  color:#DADADD;
  cursor:pointer;
}

.fa-circle{
  font-size: 6px;
  padding: 10px;
  color:grey;
}

.related_product_slides{
  padding: 0;
  display: flex;
  position: relative;
  right:0;
}

.proceed_to_bag_button{
  background-color:#006FB9;
  cursor:pointer !important;
}


@media only screen and (max-width: 649px){
  body{
    /*background-color: teal;*/
  }
  .product_preview_container{
    height: 315px;
    overflow: auto;
    display: flex;
    width: 260px;
    margin:auto;
  }
  .product_preview_img img{
    height: 300px;
    width: 250px;
    padding-right: 15px;
    cursor: default;
  }
  .product_on_display_container{
    display:none;
  }
  .product_on_display img{
    display:none;
    height:320px;
  }
  .product_container{
    display:block;
    margin-left:unset;
  }
  .product_details_container{
    padding-left: unset;
    padding:30px;
     width: unset;
  }
  .product_item_count_select_container{
    margin:auto;
  }
  .select_color_inner{
    margin: auto;
  }
  .product_details_container, .product_name_left, .product_price_left{
    text-align:center;
  }
}

@media (min-width: 650px) and (max-width: 989px){
  body{
    /*background-color: pink;*/
  }
  .product_preview_container{
    width:unset;
    overflow: scroll;
    height: 640px;
  }
  .product_preview_img img{
    height: 300px;
    width: 250px;
    cursor: default;
  }
  .product_on_display_container{
    display:none;
  }
  .product_on_display img{
    display:none;
    height:320px;
  }
}



@media (min-width: 990px) and (max-width: 1230px){
  body{
    /*background-color:indianred;*/
  }
  .product_preview_img img{
    height:72px;
  }
}

@media (min-width: 1231px) {
  body{
    /*background-color:limegreen;*/
  }
  .product_preview_img img{
    height:92px;
  }
  .related_products_container{
    display:block
  }
}
