#hbx_top_banner{
  width:100%;
  padding-bottom: 15px;
}
a{
  text-decoration:none;
  color:black;
}
.hbx_middle_images, .hbx_lower_images{
  display: inline-block;
  padding: 10px;
  width:31.33%;
  float:left;
}
.middle_images, .lower_images{
  text-align:center;
}
.lower_images{
  float: left;
  padding: 0 10px 20px 35px;
}
.hbx_mid_image, .hbx_low_image{
  width:100%;
  cursor:pointer;
}
.middle_image_subtitle, .lower_image_subtitle{
  position:relative;
  text-align: center;
}
.image_title{
  font-weight: 700;
  font-size: 23px;
  margin-bottom: -9px;
  color:black;
}
.mid_banner_container{
  float: left;
}
.mid_banner_left, .mid_banner_right{
  display:inline-block;
  width:50%;
}
.hbx_mid_banner{
  width:100%;
  cursor:pointer;
}
#lower_section_heading{
  text-align: center;
  line-height: 0.6;
  float: left;
  padding-bottom: 15px;
  width: 100%;
}
.image_subtitle, .lower_subtitle{
  color:#A39999;
  line-height: 1.5;
}
.lower_subtitle{
  font-size:13px;
}
.image_title{
  font-size:20px;
}
.hbx_lower_images{
  float:left;
}
.middle_images{
  padding-bottom: 380px;
}

#mobile_options_container{
  display:none;
  text-align:center;
  align-items: center;
  justify-content: center;
}

.left_mobile_options_container, .right_mobile_options_container{
  width:48%
}

.hbx_mobile_options:hover{
  color:grey;
  cursor:default;
}

.hbx_mobile_options{
  background-color: #F0F0F0;
  color: black;
  text-align: center;
  padding: 16px;
  margin: 10px 0 10px 10px;
  font-size: 13px;
}

.new_arrivals_option:hover{
  color:unset;
}

.new_arrivals_option{
  background-color:black !important;
  color:white !important;
}

.mobile_middle_image_subtitle{
  display:none;
}

@media only screen and (max-width: 769px){
  body{
    /*background-color: pink;*/
  }
  #mobile_options_container{
    display:flex;
    margin-left: -6px;
  }
  .hbx_middle_images,  .hbx_lower_images{
    width:94%;
  }
  .lower_images{
    padding:unset;
  }
  .tres_bien{
    position:unset;
  }
  .hbx_lower_images, .hbx_middle_images, .hbx_lower_images{
    float:unset;
  }
  .middle_images{
    padding-bottom: unset;
  }
  .mid_banner_left, .mid_banner_right{
    display:block;
    width: 95%;
    margin: auto;
  }
  .mobile_middle_image_subtitle{
    display:block;
  }
}


@media (min-width: 770px) and (max-width: 989px){
  body{
    /*background-color: skyblue;*/
  }
  .hbx_middle_images, .hbx_lower_images{
    width:30.33%;
  }
}

@media (min-width: 990px) and (max-width: 1230px){
  body{
    /*background-color:indianred;*/
  }
  .hbx_middle_images, .hbx_lower_images{
    width:30.33%;
  }
}

@media (min-width: 1231px) {
  body{
    /*background-color:limegreen;*/
  }
  .hbx_middle_images, .hbx_lower_images{
    width:31.33%;
  }
}
