.hidden_user{
  display:none;
  color:red;
}

.hbx_your_settings_content{
  display:flex;
  flex-wrap:wrap;
  padding-left:5%;
  min-height: 600px;
  margin-bottom:60px;
}

.hbx_settings_nav, .hbx_settings_controls{
  display:inline-block;
  padding-top:30px;
  margin-bottom: 60px;
}

.hbx_settings_nav_link:hover{
  color:#2D86D0;
  cursor:pointer;
}

.hbx_settings_nav_link{
  font-size:15px;
}

.hbx_settings_nav{
  width:200px;
}

.hbx_settings_nav div{
  padding-bottom:20px;
}

.hbx_settings_nav_link:hover{
  color:black;
  cursor:pointer;
}

.hbx_settings_nav_link{
  font-size:15px;
  color:grey;
  display:block;
  text-decoration:none;
  padding-bottom:20px;
}

.hbx_edit_profile_header{
  color:#333333;
  font-weight: 500;
  font-size: 22px;
  padding-bottom:30px;
}

.hbx_label{
  margin-top: 7px;
  width: 142px;
}

.form_group{
  display:flex !important;
  margin-bottom: 10px;
}

.form_group select:focus{
  outline:none;
}

.form_group select{
  width:210%;
  height:35px;
}

.hbx_error_msg{
  padding-left: 5%;
  min-height: 400px;
}

.profile_input{
  padding: 5px;
  width: 240px;
}

table, th, td {
  border: 1px solid black;
  width: 20%;
  text-align: center;
}

.view_order_items{
  text-decoration:underline;
  color:steelblue;
}

.hbx_ordered_item_modal{
  margin-top: 80px;
  margin-left:18%;
  z-index: 25;
  position: fixed;
  width: 60%;
  background-color: white;
  border:1px solid grey;
  padding: 20px;
  text-align: center;
  display:none;
}

.hbx_modal_overlay{
  opacity:0.8;
  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:24;
  display:none;
}

.modal_contents_container{
  overflow: scroll;
  height: 52vh;
  max-height: 320px;
}

.close_modal:hover{
  color:red;
}

.close_modal{
  width: 20px;
  float: right;
  cursor:pointer;
  font-weight:bold;
}

.account_buttons:hover{
  cursor:pointer;
  opacity:0.8;
}

.account_buttons{
  background-color: black;
  border: none;
  margin-top: 10px;
  margin-right:10px;
  color: white;
  padding: 12px 30px 12px 30px;
}

.order_table{
  max-width: 920px;
}

button{
  border-radius:0;
}

.closeAccountBtn:hover{
  cursor:pointer;
}

.closeAccountBtn{
  display: block;
  border: none;
  background-color: #D9534F;
  color: white;
  padding: 15px 40px 15px 40px;
  font-size: 13px;
  margin:auto;
  margin-top:20px;
}

.close_account_password_label{
  font-weight: 600;
  font-size: 13px;
  font-family: arial;
}

.close_account_password_input{
  width:60%;
  margin-left:20px;
  padding:5px;
  border:1px solid gainsboro;
}

.hbx_close_account_warning{
  font-size: 14px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 449px){
  .settings_edit_password{
    overflow: auto;
    width: 91vw;
    background-color: green;
  }

  .profile_input{
    width:180px;
  }
}

@media (min-width: 450px) and (max-width: 759px){
  .hbx_ordered_item_modal{
    margin-left:1%;
    width:86%;
  }

  .profile_input{
    width:180px;
  }
}

@media (min-width: 760px){
  .hbx_settings_controls{
    max-width:60%;
  }
}
