.hbx_shopping_bag_content{
  /*padding: 0 30px 30px 30px;*/
}

.hbx_shopping_header_container{
  display:flex;
  margin-top:2px;
}

.hbx_shopping_title{
  text-align: center;
  position: absolute;
  top: 79px;
  width: 100%;
  font-size: 30px;
}

.hbx_shopping_contact{
  border-top:unset;
  margin-left:auto;
  margin-top:4px;
}

.hbx_cart_flex_container{
  display:flex;
  padding: 0 30px 30px 30px;
}

.hbx_cart_left_column{
  width:70%;
}

.hbx_cart_right_column{
  width:30%;
}

.hbx_product_row, .prouct_row_right{
  display:flex;
  padding-top:10px;
}

.hbx_cart_header{
  display: flex;
  padding-left: unset;
  margin:0;
  font-size: 13px;
}

.hbx_cart_header li{
  width:130px;
  padding-bottom:8px;
}

.product_row{
  width: 100% !important;
}

.product_row_right{
  padding-left: unset;
  width:50%;
  display: flex;
}

.cart_product_details_container {
  padding-left: 10px;
  width: 100%;
}

.cart_product_details_container div{
  margin-bottom:4px;
}

.cart_product_img img{
  height:120px;
}

.cart_size{
  margin-bottom:10px !important;
  margin-top:10px !important;
  font-size:13px;
}

.cart_notice{
  color: grey;
  font-size: 14px;
}

.cart_price{
  margin-top: 45px;
  padding-left: 20px;
}

.hbx_total_row{
  margin-top: 45px;
}

.hbx_total_row, .hbx_price_row, .hbx_quantity_row{
  width:130px;
}

.hbx_right_rows{
  display:flex;
}

.hbx_quantity_control{
  display:flex;
  margin-top: 28px;
}

.cart_select_minus{
  margin-left: 2px;
}

.cart_select_minus:hover, .cart_select_plus:hover{
  cursor:pointer;
  background-color:#F0F0F0;
}

.cart_select_minus, .cart_select_plus{
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  margin-top: 12px;
  user-select: none;
}

#cart_count{
  border: 1px solid #E0E0E0;
  margin: 4px;
  width: 70px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart_remove_items{
  font-size: 12px;
  color: grey;
  text-align: center;
  cursor:pointer;
  margin-top:3px;
}

.hbx_update_container{
  border-top:1px solid #E0E0E0;
}

.hbx_update_btn{
  border:1px solid #E0E0E0;
  padding: 10px 30px 10px 30px;
  margin-top:20px;
  margin-left:auto;
  width:81px;
  font-size:13px;
}

.hbx_total_usd{
  padding-left: 20px;
}

.hbx_update_btn:hover{
  background-color:#E9E9E9;
  cursor:pointer;
}

.hbx_product_row{
  margin-bottom: 10px;
  border-top:1px solid #E0E0E0;
}

.hbx_cart_right_column{
  margin-left: 20px;
}

.hbx_shipping_notice{
  background-color: white;
  padding: 15px;
  border: 1px solid #E0E0E0;
  font-size: 13px;
  border-bottom: none;
}

.hbx_shopping_header_container, .hbx_cart_flex_container{
  /*display:none;*/
}

.hbx_empty_cart_content{
  /*display:none;*/
}

.hbx_empty_cart_content{
  height: 550px;
  text-align:center;
}

.shopping_bag_div img{
  height: 70px;
  padding-top: 150px;
}

.empty_bag{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.continue_shopping:hover{
  opacity:0.7;
}

.continue_shopping{
  background-color: black;
  color: white;
  font-size: 17px;
  /* width: 900px; */
  padding: 15px 60px 15px 60px;
  /*margin-bottom:1000px;*/
}

.empty_cart_disclaimer{
  color: grey;
  width: 700px;
  padding-top: 120px;
  /* text-align: center; */
  margin: auto;
}

.order_total_container{
  margin-bottom: 7px;
  display:flex;
  font-weight: 600;
  font-size:20px;
  padding: 10px 0 10px 0;
  border-top: 1px solid #E0E0E0;
}

.proceed_button:hover{
  opacity:0.7;
  cursor:pointer;
}

.proceed_button{
  color: white;
  background-color: #006FBB;
  padding: 15px 25px 15px 25px;
  margin: auto;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
  display:block;
}

.proceed_button_waiting{
  color: white;
  background-color: gainsboro;
  padding: 15px 25px 15px 25px;
  margin: auto;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
  display:block;
}

.hbx_right_container{
  padding: 15px 15px 0 15px;
  border:1px solid #E0E0E0;
}

.order_summary_container{
  font-size:18px;
  padding-bottom:15px;
  border-bottom:1px solid #E0E0E0;
}

.shopping_sale_container, .promotional_container{
  display:flex;
  padding: 10px 10px 10px 0;
}

.promotional_container{
  border-top:1px solid #E0E0E0;
}

.bag_total, .duty_total, .shipping_total{
  font-size:13px;
  margin-top: 3px;
}

.bag_cost, .duty_cost, .shipping_cost, .order_cost{
  margin-left:auto;
}

.usd{
  margin-right:5px;
}

.hbx_right_main_container{
  background-color:#F0F0F0;
}

.learn_more{
  color:#666666;
  text-align:center;
  margin-top:20px;
  font-size:14px;
}

.blue_hover_text:hover{
  color:#4999D2;
}

.blue_hover_text{
  color: #006DBE;
  cursor: pointer;
}

.taxes{
  text-align: center;
  font-size: 13px;
  color: #666666;
  margin-top: 15px;
}

.hidden_cart_id{
  display:none !important;
}

.cart_product_brand{
  font-size:12px;
}
