extends hbx_layout

block content
  .content
    .hbx_your_settings_content
      .hbx_settings_nav
        .settings_nav_heading Account Settings
        a.hbx_settings_nav_link.profile_link(href="/hbx_account") PROFILE
        a.hbx_settings_nav_link.profile_link(href="#") ADDRESS INFO
        a.hbx_settings_nav_link.profile_password(href="/hbx_account/password") PASSWORD
      .hbx_settings_controls
        .settings_edit_password
          .hbx_edit_profile_header Edit Password
          .form(method="post" action="")
            .form_group
              div.hbx_label
                label.profile_label CURRENT PASSWORD
              div
                input.profile_input.profile_curr_password_input(name="" type="")
            .form_group
              div.hbx_label
                label.profile_label NEW PASSWORD
              div
                input.profile_input.profile_password_input(name="" type="")
            .form_group
              div.hbx_label
                label.profile_label VERIFY PASSWORD
              div
                input.profile_input.profile_verify_password_input(name="" type="")
            input#save_password_changes(type="submit" value="Save Changes")
