extends hbx_layout

block content

  .hbx_delivery_and_payment_content
    .hbx_checkout_header Checkout
    .checkout_progressbar
      .checkout_steps 
        span.checkout_step_number 1
        span.checkout_title CONTACT & ADDRESSES 
        span.checkout_edit Edit
      .checkout_steps 
        span.checkout_step_number 2
        span.checkout_title DELIVERY & PAYMENT
        span.checkout_edit Edit
      .checkout_steps#step_three
        span.checkout_step_number 3 
        span.checkout_title ORDER COMPLETE

  
  .delivery_sub_content
    .delivery_left_container
      .hbx_delivery_details_container
        .checkout_header Shipping Method
          .shipping_time_container
            //- input.shipping_radio_input(type="radio")
            .fa.fa-check-circle
            .shipping_time_text
              div.title EXPRESS (USD 9.00)
              span ESTIMATED DELIVERY DATE:
              span.estimated_delivery_date NOV, 08
      .hbx_delivery_details_container
        .checkout_header Payment Information
          .payment_choice_container
            .payment_select
              //- input.shipping_radio_input(type="radio")
              .fa.fa-check-circle
              .shipping_time_text VISA
            .payment_select
              //- input.shipping_radio_input(type="radio")
              .fa.fa-check-circle
              .shipping_time_text PAYPAL
          .payment_select
            //- input.shipping_radio_input(type="radio")
            .fa.fa-check-circle
            .shipping_time_text BITCOIN
          
  
    .checkout_order_summary_container
      .order_summary_heading Order Summary
      p.checkout_order_notice Please note: Items and promotional pricing are not reserved until checkout is complete.
      .checkout_items_main_container
        - if(cart){
          - for(let i = 0; i < cart.length; i++){
            .checkout_item_container
              .checkout_item_img
                img(src="/images/hbx_images/tres-bien/pants/work-trousers_full.jpg")
              .checkout_item_details_container
                .checkout_item_brand Tres Bien
                .checkout_item_name Rose Block Jacquard S/S Polo
                .checkout_item_size 
                  span Size: 
                  span.checkout_item_final_size L
                .checkout_item_quantity
                  span Qty:
                  span.checkout_item_final_quantity 2
              .checkout_item_usd 
                span USD
                span.checkout_item_final_cost 100.00
          - }
        - }
      .checkout_summary_container
        .checkout_total
          .bag_total_label Bag Subtotal
          .bag_total.align_right
            span USD
            span.checkout_item_final_cost 276.00
        .checkout_total
          .duty_label *Duty/Tax
          .duty_total.align_right
            span USD
            span.checkout_item_final_cost 0.00
        .checkout_total
          .shipping_label Shipping Total
          .shipping_total.align_right
            span USD
            span.checkout_item_final_cost 7.00
      .checkout_order_details
        span ORDER TOTAL
        .checkout_order_usd
          span USD 
          span.checkout_item_final_cost 200.00
      a.checkout_continue_button(href="/checkout/complete") PLACE ORDER
    
