extends hbx_layout

block content

  .hbx_content
    a(href="/brands/11-by-boris-bidjan-saberi")
      img#hbx_top_banner(src="/images/hbx_images/general/banner_boris_bidjian.jpg")
    .middle_images
      .hbx_middle_images
        a(href="/brands/tres-bien")
          img.hbx_mid_image(src="/images/hbx_images/general/tres-bien.png")
        .middle_image_subtitle
          a(href="/brands/tres-bien")
            p.image_title Très Bien
          a(href="/brands/tres-bien")
            p.image_subtitle SHOP NOW
      .hbx_middle_images
        a(href="/brands/adidas-originals")
          img.hbx_mid_image(src="/images/hbx_images/general/adidas-originals.png")
        .middle_image_subtitle
          a(href="/brandsadidas-originals")
            p.image_title adidas Originals by White Mountaineering
          a(href="/brands/adidas-originals")
            p.image_subtitle SHOP NOW
      .hbx_middle_images
        a(href="/brands/denim-by-vanquish-fragment")
          img.hbx_mid_image(src="/images/hbx_images/general/denim-by-vanquish-fragment.png")
        .middle_image_subtitle
          a(href="/brands/denim-by-vanquish-fragment")
            p.image_title DENIM BY VANQUISH & FRAGMENT
          a(href="/brands/denim-by-vanquish-fragment")
            p.image_subtitle SHOP NOW
    .mid_banner_container
      .mid_banner_left
        a(href="/brands/mastermind-world")
          img.hbx_mid_banner(src="/images/hbx_images/general/mastermind-world.png")
      .mid_banner_right
        a(href="/brands/undercover")
          img.hbx_mid_banner(src="/images/hbx_images/general/undercover.png")
    #lower_section_heading
      h2 Journal
      p.image_subtitle THE DEFINITIVE COVERAGE OF STYLE AND CULTURE
    .lower_images
      .hbx_lower_images
        a.empty_link(href="#")
          img.empty_link.hbx_low_image(src="/images/hbx_images/general/raf-simmons.png")
        .lower_image_subtitle
          a.empty_link(href="#")
            p.image_title Raf Simmons and the Three Stripes: A Timeline of Collaborative Endeavors
          a.empty_link(href="#")
            p.lower_subtitle SIMONS' CURATORIAL VISION
      .hbx_lower_images
        a.empty_link(href="#")
          img.empty_link.hbx_low_image(src="/images/hbx_images/general/places+places.png")
        .lower_image_subtitle
          a.empty_link(href="#")
            p.image_title A Closer Look at Our Exclusive PLACES+FACES Collection
          a.empty_link(href="#")
            p.lower_subtitle THE FINAL DROP FROM OUR LIMITED-EDITION COLLABORATION
      .hbx_lower_images
        a.empty_link(href="#")
          img.empty_link.hbx_low_image(src="/images/hbx_images/general/maximalism.png")
        .lower_image_subtitle
          a.empty_link(href="#")
            p.image_title.vanquish 2017 Fall/Winter "Maximalism" Editorial
          a.empty_link(href="#")
            p.lower_subtitle A NEW WAVE OF LOUD AND EXTRAVAGANT STYLE
      
