extends hbx_layout

block content
  .content
    .hbx_your_settings_content
      .hbx_settings_nav
        .settings_nav_heading Account Settings
        a.hbx_settings_nav_link.profile_link(href="/hbx_account") PROFILE
        a.hbx_settings_nav_link.profile_link(href="#") ADDRESS INFO
        a.hbx_settings_nav_link.profile_password(href="/hbx_account/password") PASSWORD
      .hbx_settings_controls
        .settings_edit_profile
          .hbx_edit_profile_header Edit Profile
          .form(method="post" action="")
            .form_group
              div.hbx_label
                label.profile_label USERNAME
              div
                input.profile_input.profile_username_input(name="" type="")
            .form_group
              div.label
                label.profile_label EMAIL
              div
                input.profile_input.profile_email_input(name="" type="")
            .form_group
              div.label
                label.profile_label FIRST NAME
              div
                input.profile_input.profile_email_input(name="" type="")
            .form_group
              div.label
                label.profile_label EMAIL
              div
                input.profile_input.profile_email_input(name="" type="")
            .form_group
              div.label
                label.profile_label LOCATION
              div
                input.profile_input.profile_email_input(name="" type="")
            .form_group
              div.label
                label.profile_label BIRTHDAY
              div
                input.profile_input.profile_email_input(name="" type="")
            .form_group
              div.label
                label.profile_label GENDER
              div
                input.profile_input.profile_email_input(name="" type="")
            
            input#update_profile(type="submit" value="Update Profile")
            span 
              a.close_account(href="/hbx_account/close-account") Close Account
