extends hbx_layout

block content

  .hbx_content
    a(href="#")
      img#hbx_top_banner(src="/images/hbx_images/general/banner_boris_bidjian.jpg")
    .middle_images
      .hbx_middle_images
        a(href="#")
          img.hbx_mid_image(src="/images/hbx_images/general/tres_bien.png")
        .middle_image_subtitle
          a(href="#")
            p.image_title Très Bien
          a(href="#")
            p.image_subtitle SHOP NOW
      .hbx_middle_images
        a(href="#")
          img.hbx_mid_image(src="/images/hbx_images/general/adidas_originals.png")
        .middle_image_subtitle
          a(href="#")
            p.image_title adidas Originals by White Mountaineering
          a(href="#")
            p.image_subtitle SHOP NOW
      .hbx_middle_images
        img.hbx_mid_image(src="/images/hbx_images/general/vanquish_fragment.png")
        .middle_image_subtitle
          p.image_title DENIM BY VANQUISH & FRAGMENT
          p.image_subtitle SHOP NOW
    .mid_banner_container
      .mid_banner_left
        a(href="#")
          img.hbx_mid_banner(src="/images/hbx_images/general/mastermind.png")
      .mid_banner_right
        a(href="#")
          img.hbx_mid_banner(src="/images/hbx_images/general/undercover.png")
    #lower_section_heading
      h2 Journal
      p.image_subtitle THE DEFINITIVE COVERAGE OF STYLE AND CULTURE
    .lower_images
      .hbx_lower_images
        a(href="#")
          img.hbx_low_image(src="/images/hbx_images/general/raf-simmons.png")
        .lower_image_subtitle
          a(href="#")
            p.image_title Raf Simmons and the Three Stripes: A Timeline of Collaborative Endeavors
          a(href="#")
            p.lower_subtitle SIMONS' CURATORIAL VISION
      .hbx_lower_images
        a(href="#")
          img.hbx_low_image(src="/images/hbx_images/general/places+places.png")
        .lower_image_subtitle
          a(href="#")
            p.image_title A Closer Look at Our Exclusive PLACES+FACES Collection
          a(href="#")
            p.lower_subtitle THE FINAL DROP FROM OUR LIMITED-EDITION COLLABORATION
      .hbx_lower_images
        a(href="#")
          img.hbx_low_image(src="/images/hbx_images/general/maximalism.png")
        .lower_image_subtitle
          a(href="#")
            p.image_title.vanquish 2017 Fall/Winter "Maximalism" Editorial
          a(href="#")
            p.lower_subtitle A NEW WAVE OF LOUD AND EXTRAVAGANT STYLE
      
