extends layout

block content
  .content
    h1 Content
    
    form(method="get" action="/comment")
      button read...
    
    
    div.hello !{ posts[0].post_content } <!-- string interpolation used to display db object (result row, result set) -->
