doctype html
html
  head
    title= 'simple log-in'
    link(rel='stylesheet', href='styles.css')

  body
        
    block content
    script(src='https://code.jquery.com/jquery-2.2.1.js')
    script(src='main.js')
