doctype html
html
  head
    title= 'Hypebeast Clone'
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css", integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/hypebeast/layout_index_styles.css')
    link(rel='stylesheet', href='/stylesheets/hypebeast/post_styles.css')
    link(rel='stylesheet', href='/stylesheets/hypebeast/login_styles.css')
    link(rel='stylesheet', href='/stylesheets/hypebeast/footer_styles.css')
    link(rel='stylesheet', href='/stylesheets/hypebeast/account.css')
    link(rel='icon', href='/images/hypebeast_images/general/favicon.png')
  body
    
    
    .banner_ad_section
      img(src="/images/hypebeast_images/general/vans_banner_ad.png")
    
    .nav
      .header-top-section
        .socialMediaContainer
          img.socialMediaImages(src="/images/hypebeast_images/socialMediaIcons/facebook.png")
          img.socialMediaImages(src="/images/hypebeast_images/socialMediaIcons/twitter.png")
          img.socialMediaImages(src="/images/hypebeast_images/socialMediaIcons/instagram.png")
          img.socialMediaImages(src="/images/hypebeast_images/socialMediaIcons/snapchat.png")
          img.socialMediaImages(src="/images/hypebeast_images/socialMediaIcons/youtube.png")
          img.socialMediaImages(src="/images/hypebeast_images/socialMediaIcons/feedly.png")
          img.socialMediaImages(src="/images/hypebeast_images/socialMediaIcons/flipboard.png")
          img.socialMediaImages(src="/images/hypebeast_images/socialMediaIcons/envelope.png")
        .navBarAndClose
          div.hamburger
            img(src="/images/hypebeast_images/general/hamburger.png")
        a.navTitle(href="/") HYPEBEAST  <!-- メンズファッシン -->
        div.close
          img(src="/images/hypebeast_images/general/close.png")
        div.magnifierMobile
          img.magnifier_glass(src="/images/hypebeast_images/general/search.png")
      
        .navBtnContainer
          .navSelectBtnContainer
            .navAccountContainer
              - if(user){
                .username_div !{user.username}
              - }
              button.avatar
                img.avatar_img(src="/images/hypebeast_images/avatars/png/fox.png")
              button.navBtns.account Account 
                - if(user){
                  .accountDropDown
                    a.settings_link(href="/account") Your Settings
                    a(href="/logout") Logout
                - } else {
                  .accountDropDown
                    a(href="/login") Login
                    a(href="/logout") Logout
                    a(href="/register") Register
                - }
            .navGlobeContainer
              img.globe_img(src="/images/hypebeast_images/general/globe.png")
              button.navBtns.language English
                .globeDropDown
                  div English
                  div 繁體中文
        .mobileMenu
          .mobile-header-top-section
            .mobileNavTitle HYPEBEAST
            div.close
              img(src="/images/hypebeast_images/general/close.png")
          .mobileSearchBar
            input.searchInputBox(placeholder="What are you looking for?")
            div.magnifierSearchMenu
              img(src="/images/hypebeast_images/general/search.png")
          ul.firstUl
            li Fashion
            li Footwear
            li Automotive
            li Arts
            li Sports
            li Food
            li Tech
            li Travel
            li Design
            li Music
            li Entertainment
            li Editorial
          ul.secondUl
            li Account
              img.dropIcon(src="/images/hypebeast_images/general/dropIcon.png")
            li Language
              img.dropIcon(src="/images/hypebeast_images/general/dropIcon.png")
          ul.thirdUl
            li Videos
            li Magazine
            li Forums
            li More
              img.dropIcon(src="/images/hypebeast_images/general/dropIcon.png")
          div.copyright 2017 All IP owned by Hypebeast Limited. 
      .main-nav
        ul
          li.fashionNavLink FASHION
            .fashion_dropdown.nav_dropdown
              .dropdown_link Supreme
              .dropdown_link BAPE
              .dropdown_link Palace
              .dropdown_link Gosha Robchinskiy
              .dropdown_link Pigaile
              .dropdown_link OFF-WHITE
              .dropdown_link Stone Island
              .dropdown_link UNDERCOVER
          li.footwearNavLink FOOTWEAR
            .footwear_dropdown.nav_dropdown
              .dropdown_link Adidas
              .dropdown_link Nike
              .dropdown_link Jordan Brand
              .dropdown_link YEEZY
              .dropdown_link New Balance
              .dropdown_link Vans
              .dropdown_link ASICS
              .dropdown_link UNDERCOVER
              .dropdown_link visvim
              .dropdown_link PUMA
              .dropdown_link Reebok
          li.musicNavLink MUSIC
            .music_dropdown.nav_dropdown
              .dropdown_link Kanye West
              .dropdown_link Drake
              .dropdown_link ASAP Rocky
              .dropdown_link Frank Ocean
              .dropdown_link Travis Scott
              .dropdown_link Kid Cudi
              .dropdown_link Kendrick Lamar
              .dropdown_link Gucci Mane
              .dropdown_link The Weeknd
              .dropdown_link Daft Punk
          li.artsNavLink ARTS
            .arts_dropdown.nav_dropdown
              .dropdown_link KAWS
              .dropdown_link Banksy
              .dropdown_link Shepard Fairey
              .dropdown_link Takashi Murakami
              .dropdown_link Daniel Arsham
              .dropdown_link Ai Weiwei
              .dropdown_link Jeff Koons
              .dropdown_link Cleon Peterson
              .dropdown_link Hajime Sorayama
              .dropdown_link Ron English
          li.designNavLink DESIGN
          li.editorialsNavLink EDITORIALS
          li.allSectionsNavLink ALL SECTIONS
            .all_sections_dropdown.nav_dropdown
              .all_sections_left_container
                .dropdown_link FORUMS
                .mobile_all_sections 
                  .dropdown_link MUSIC
                  .dropdown_link ARTS
                .dropdown_link DESIGN
                .dropdown_link EDITORIALS
                .dropdown_link TECH
                .dropdown_link ENTERTAINMENT
                .dropdown_link AUTOMOTIVE
                .dropdown_link FOOD
                .dropdown_link TRAVEL
                .dropdown_link GUIDES
                .dropdown_link SPORTS
              .all_sections_right_container 
                .dropdown_right_content 
                  .dropdown_header HB100 | 2016
                  .dropdown_text HYPEBEAST 100: The innovators from all realms of creativity in the spotlight.
                .dropdown_right_content 
                  .dropdown_header HYPEBEAST MAGAZINE
                  .dropdown_magazine_container
                    .dropdown_text With in-depth interviews, focused features and fashion-forward editorials, our print publication features long-form coverage of the topics valued to readers.
                    img(src="/images/hypebeast_images/general/hypebeast_magazine_small.png")
                .dropdown_right_content 
                  .dropdown_header HYPEBAE
                  .dropdown_text Explore and be inspired by the latest womens fashions and trends.
          
          li.videosNavLink VIDEOS
          li.radioNavLink RADIOS
          a.storeNavLink(href="/store" target="_blank") STORE
          .search_nav_container
            input.search_nav_input(placeholder="What are you looking for?")
            img.search_nav_glass(src="/images/hypebeast_images/general/search_grey.png")
            img.search_nav_close(src="/images/hypebeast_images/general/close_grey.png")
            .search_border
            .trending_searches 
              div.trending_header Trending Searches
              div.trending_topic BAPE
              div.trending_topic Supreme
              div.trending_topic kith
              div.trending_topic lonzo ball
              div.trending_topic off white
                
              
          
        div.magnifier
          img(src="/images/hypebeast_images/general/search.png")
      - if(user){
          .login_successful Login successful! 
      - }
      .returnToTop
        img(src="https://d2gkwoflhw8cr8.cloudfront.net/bundles/hypebeasteditorial/images/back-to-top_2x.png?1504605512")
    
    block content
    
    include footer
    script(src='https://code.jquery.com/jquery-2.2.1.js')
    script(src='/scripts/main.js')
