extends layout

block content
  .login_content
    h2 Login to HYPEBEAST
    p Connect to HYPEBEAST with your Facebook account
    .social_media_login
      form(method='get' action='')
        button#facebook_login.log_in_btn(type='submit') 
          i.fa.fa-fw.fa-facebook#facebook-login
          span Login with Facebook
      form(method='get' action='http://127.0.0.1:3000/auth/google/')
        button#google_login.log_in_btn(type='submit') 
          i.fa.fa-fw.fa-google 
          span Login with Google
    p Sign up with yout email address
    form(action="login" method="post")
      div.label
        label Email/Username
      div
        input.log_in_input(name="username" type="text" placeholder="Email")
      div.label
        label Password
      div
        input.log_in_input(name="password" type="password" placeholder="Password")
      
      input#log_in(type="submit" value="Log In")
      
      a(class="special_link") Forgot password?
