extends layout

block content
  .login_content
    h2 Join HYPEBEAST now
    p Share your ideas, get instant updates and enjoy exclusive deals at our store.
    button.facebook_login Login with Facebook
    button.google_login Login with Google
    p Sign up with yout email address
    form(action="" method="get")
      div
        label email
      div
        input
      div
        lebael password
      div
        input
      p By signing up, you agree to our Terms of Use and Privacy Policy
      input.log_in(type="submit" value="Sign Up")
      
      a Forgot password?
