extends layout

block content
  .login_content
    h2 Join HYPEBEAST now
    p Share your ideas, get instant updates and enjoy exclusive deals at our store.
    .social_media_login
      form(method='get' action='')
        button#facebook_login.log_in_btn(type='submit') 
          i.fa.fa-fw.fa-facebook#facebook-login
          span Login with Facebook
      form(method='get' action='/auth/google/')
        button#google_login.log_in_btn(type='submit') 
          i.fa.fa-fw.fa-google 
          span Login with Google
    p Sign up with yout email address
    form(action="register" method="post")
      div.label
        label Email/Username
      div
        input.log_in_input(name="username" type="text" placeholder="Email")
        .warning.warning_email_used This email has been used already.
      div.label
        label Password
      div
        input.log_in_input(name="password" type="password" placeholder="Password")
      p.disclaimer By signing up, you agree to our 
        span 
          a(class="special_link") Terms of Use 
        span and 
        span
          a(class="special_link") Privacy Policy.
      input#sign_up(type="submit" value="Sign Up")
      
      div Have an Account? <a class="special_link" href="/login">Login</a>.
