extends layout

block content
  .successful_register_content
    .successful_register_message
      .successful_register_header SIGN UP COMPLETE
      p You have successfully created your Account!
      a.continue_link(href="/login") Continue
