.hbx_nav{
  background-color:white;
  padding: 10px 5px 10px 25px;
  border-bottom: 1px solid #F0F0F0;
}

.hbx_title{
  height:43px;
  cursor:pointer;
}

ul{
  list-style: none;
}

/*.right_nav_items, .left_nav_items{}*/

.right_nav_items{
  position: absolute;
  right: 0;
  top: 7px;
  width: 430px;
  /*background-color: green;*/
}

.hbx_links_container{
  margin-top: 13px;
  position: absolute;
  padding-left: 0;
}

.cart, .language{
  padding-left:20px;
}

.cart span{
  border: 1px solid #F0F0F0;
  padding: 15px 22px 15px 35px;
}

.shopping_bag_handle{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 16px;
  left: 198px;
  background-color: white;
}

.shopping_bag{
  background-color: black;
  height: 15px;
  width: 18px;
  position: absolute;
  margin-left: 11px;
  top: 21px;
  color:white;
  text-align: center;
  font-size: 12px;
  padding-top: 2px;
}

.shopping_bag_container{
  cursor:pointer;
}

.language{
  right:0;
  margin-top:13px;
  padding-right:53px;
}

.language span{
  margin-top: 7px;
  position: absolute;
  padding-left: 50px;
}

.hbx_flag{
  height:28px;
  padding-right:4px;
  position: absolute;
  top: 13px;
}

.nav_elements{
  display: inline-block;
}

.nav_menswear{
  text-decoration:underline;
  color:black !important;
}

.hbx_nav_link:hover{
  cursor:pointer;
  color:black;
}

.hbx_nav_link{
  padding: 0 5px 0 22px;
  font-size:12px;
  color:grey;
}

.hbx_search{
  height: 25px;
  position: absolute;
  top: 13px;
  cursor:pointer;
}

.hamburger_mobile{
  display:none;
  cursor:pointer;
}

.arrow_down{
  height: 9px;
  width: 6px;
  position: relative;
  left: -15px;
  top: 1px;
}

.country .arrow_down_mobile{
  position: absolute;
  margin-top: -33px;
  right: 112px;
}

.usd_container .arrow_down_mobile{
  position: absolute;
  margin-top: -26px;
  right: 10px;
}

.arrow_down_mobile{
  height: 9px !important;
  width: 6px;
}

.hbx_search_mobile{
  text-align:center;
  padding: 10px 0 10px 0;
  background-color:white;
}

.hbx_search_input_mobile::placeholder{
  color:#999999;
}

.hbx_search_input_mobile:focus{
  outline: none;
}

.hbx_search_input_mobile{
  border: 1px solid black;
  /* height: 30px; */
  width: 77%;
  display: inline-block;
  font-size: 13px;
  padding: 10px;
}

.hbx_search_button_mobile{
  color: white;
  background-color: black;
  font-size: 11px;
  border: none;
  padding: 11px;
  position: relative;
  top: 0px;
  font-size: 13px;
  cursor: pointer;
}

.hbx_search_mobile {
  display:none;
}

.mobile_links_container div{
  display:inline-block;
  width:50%;
  text-align: center;
  padding: 20px 0 21px 0;
}

.mens_mobile_link{
  background-color:white;
  cursor:pointer;
}

.womens_mobile_link{
  background-color:#F0F0F0;
  cursor:pointer;
}

.hbx_drop_icon{
  height: 12px;
  float: right;
  margin-top: 4px;
}

.hbx_grey_drop_icon{
  height: 15px;
  float: right;
  margin-top: 4px;
}

.hbx_mobile_menu_background{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  z-index: 20;
  position: fixed;
  margin-top: -58px;;
  width: 100%;
  display:none;
}

.hbx_mobile_menu_options{
  font-size:13px;
  background-color: #F0F0F0;
  height: 100px;
  width: 260px;
  position: absolute;
}

.hbx_mobile_menu_content li:hover,
.hbx_mobile_menu_social_media i:hover,
.hbx_language li:hover{
  cursor:pointer;
  color:grey;
}

.hbx_mobile_menu_content li{
  padding: 18px 20px 18px 15px;
  font-size: 16px;
}

.hbx_mobile_menu_content{
  /*padding:20px*/
  padding-left:0;
  margin-top:0;
}

.hbx_mobile_menu_content hr{
  width: 85%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E0E0E0;
  margin: auto;
}

.hbx_primary_mobile_links{
  background-color:white;
}

.hbx_sub_mobile_links{
  background-color:#F0F0F0;
  margin-top: -13px;
}

.hbx_mobile_menu_options{
  overflow-y: auto;
  height:100vh
}

.country_and_usd {
  background-color:#F0F0F0;
  margin-top:-13px;
  padding:23px 23px 23px 15px;
}

.country_and_usd div{
  display:inline-block;
  border:1px solid #E0E0E0;
  padding:14px;
  margin-right:10px;
  height:36px;
  padding-right:33px;
}

.country p{
  margin-top:0;
}

.country img{
  height:20px;
}

.usd_container{
  margin-top: 2px;
  position: absolute;
}

.hbx_language li{
  display:inline-block;
  padding-right:20px;
}

.hbx_mobile_menu_social_media i{
  padding-right:13px;
  background-color:#F0F0F0;
}

.hbx_mobile_menu_social_media{
  text-align:center;
  padding:15px;
}

.cart_dropdown{
  background-color: #E9E9E9;
  border: 1px solid #F0F0F0;
  position: absolute;
  top: 48px;
  padding: 14px;
  width: 337px;
  left: 40px;
  display:none;
}

.items_in_bag{
  margin-top: -29px;
}

.items_in_bag span,
.quantity span,
.dropdown_price span,
.dropdown_order_total span,
.dropdown_notice span{
  border: unset;
  padding: unset;
  padding-right:5px;
}

.dropdown_notice, .dropdown_notice_top{
  padding-bottom: 10px;
  padding-top: 13px;
  color: #99999F;
  font-size: 12px;
}

.dropdown_notice_top{
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 15px;
}

.cart_dropdown_product{
  padding:15px 10px 10px 0;
  display:flex;
  border-bottom: 1px solid #E0E0E0;
}

.dropdown_img img{
  height:82px;
}

.quantity{
  margin-top: -12px;
}

.quantity_and_price{
  display:flex;
}

.qty{
  font-size:12px
}

.minus_item:hover, .add_item:hover{
  opacity:0.7;
  cursor:pointer;
}

.item_count{
  padding: 0 15px 0 10px;
}

.minus_item, .add_item{
  color:#99999F;
}

.add_item{
  font-size:19px;
}

.minus_item{
  font-size:30px;
  top: 3px;
  position: relative;
}

.dropdown_price{
  margin-left: auto;
  font-size: 13px;
  padding-top: 4px;
  font-weight: 700;
}

.dropdown_order_total_container{
  display:block;
}

.dropdown_order_total{
  padding-top: 10px;
  text-align: right;
}

.dropdown_notice{
  text-align: right;
}

.dropdown_notice .cart_price{
  margin-top:unset;
  padding-left:unset;
}

.dropdown_notice span{
  padding:unset;
}

.dropdown_button_container{
  display:flex;
}

.view_bag:hover, .checkout_now:hover{
  opacity:0.8;
  cursor:pointer;
}

.view_bag, .checkout_now{
  padding: 14px;
  color: white;
  font-size: 12px;
  margin-top: 10px;
  text-align:center;
}

.view_bag{
  background-color:black;
  margin-right: 5px;
  width: 113px;
}

.checkout_now{
  background-color:#026FBA;
  width: 160px;
}

.dropdown_last_notice{
  text-align:unset;
}

.nav_button_cover{
  position: relative;
  /*background-color: #E9E9E9;*/
  top: -47px;
  width: 122px;
}

.hover_handle{
  left: 14px !important;
}

.shopping_bag_container_hover{
  position: relative !important;
  top: -17px !important;
  left: 129px;
  z-index: 10;
}

.hbx_nav_link_hover{
  background-color: #E9E9E9;
  border:1px solid #CACACA !important;
  border-bottom:1px solid #E9E9E9 !important;
  position: relative;
  left: 130px;
}

.arrow_down_hover{
  left: 235px !important;
  top: -17px;
}




@media only screen and (max-width: 769px){
  body{
    /*background-color: pink;*/
  }
  .nav_help,
  .language,
  .nav_journal,
  .hbx_links_container,
  .nav_login,
  .cart span{
    display:none;
  }
  .shopping_bag_handle, .shopping_bag{
    display:block;
  }
  .shopping_bag_handle{
    left:74px;
  }
  .right_nav_items{
    width:105px;
  }
  .hbx_search{
    top:17px;
    right:50px;
  }
  .hbx_nav{
    padding: 12px 5px 6px 25px;
  }
  .right_nav_items{
    top:2px;
  }
  .left_nav_items{
    text-align:center;
  }
  .hbx_title{
    height:36px;
  }
  .hamburger_mobile{
    display: block;
    height: 20px;
    top: 19px;
    left: 13px;
    position: absolute;
  }
}

@media (min-width: 770px) and (max-width: 989px){
  body{
    /*background-color: skyblue;*/
  }
  .nav_help, .language, .nav_journal{
    display:none;
  }
  .right_nav_items{
    width: 266px;
  }
  .shopping_bag_handle{
    left:141px;
  }
}

@media (min-width: 990px) and (max-width: 1230px){
  body{
    /*background-color:indianred;*/
  }
}

@media (min-width: 1231px) {
  body{
    /*background-color:limegreen;*/
  }
}
