.hbx_product_content{
  padding:10px;
}

.product_container{
  display:flex;
  margin-left: 60px;
}

.product_preview_container{
  background-color:orange;
  padding-right: 13px;
  width:75px;
}

.product_preview_img img{
  height:94px;
  margin-bottom: 8px;
  cursor: pointer;
}

.product_on_display_container{
  border-left: 10px solid blue;
  background-color:brown;
  display:flex;
  width: 556px;
  overflow:hidden;
}

.product_on_display img{
  height:200px;
  flex-wrap:wrap;
  height:720px;
  position:relative;
  cursor: pointer;
}

.product_on_display{
  position:relative;
  right:0;
}

.product_details_container{
  padding-left: 25px;
  width: 30%;
}

.product_size_container li{
  display:inline-block;
}

.product_size_container{
  padding-left:0;
  font-size:13px;
  margin-top: 22px;
  margin-bottom: 4px;
}

.product_title{
  padding-right:15px;
}

.find_your_size:hover{
  color:#4999D2;
}

.find_your_size{
  color:#006DBE;
  cursor:pointer;
}

.product_sizes:hover{
  background-color:black;
  border:1px solid black;
  color:white;
  cursor:pointer;
}

.product_sizes, .size_div{
  padding-bottom: unset !important;
  display: inline-block;
  border: 1px solid #999999;
  padding-top: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 44px;
  height: 32px;
  text-align: center;
}











@media only screen and (max-width: 769px){
  body{
    background-color: pink;
  }
  .product_preview_img img{
    height:100%;
    width:95vw;
  }
}

@media (min-width: 770px) and (max-width: 989px){
  body{
    background-color: skyblue;
  }
  .product_preview_img img{
    height:72px;
  }
}

@media (min-width: 990px) and (max-width: 1230px){
  body{
    background-color:indianred;
  }
  .product_preview_img img{
    height:72px;
  }
}

@media (min-width: 1231px) {
  body{
    background-color:limegreen;
  }
  .product_preview_img img{
    height:92px;
  }
}
