html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Source Sans Pro HB","Helvetica Neue",Helvetica,Arial,sans-serif,"Microsoft Yahei";
}

button:focus{
  outline:none;
}

.banner_container{
  /*margin:4%;*/
  /*margin: 16px 55px 0 51px;*/
  max-width: 935px;
  margin: auto;
  margin-top: 16px;
}

.content{
  /*margin:4%;*/
  margin: 16px 55px 0 51px;
}

.blog_images{
  width:100%;
}

.blog_text{
  font-size:17px;
  line-height:29px;
}

.blog_text a{
  text-decoration: none;
  color:steelblue;
}

.blog_text a:hover{
  color:#37559D;
}

.blog_text{
  font-size:1.2em;
  color:#333332;
}

.returnToTop{
  position: absolute;
  bottom: 25px;
  right: 30px;
  cursor:pointer;
}

.returnToTop img{
  height:50px;
  width:50px;
}

.title h2{
  margin: 10px 0 10px 0;
}

.article_info{
  float:right;
  width: 52%;
  height:250px;
}

.article_container .post_image{
  height:250px;
}

.article_info a{
  color:black;
  text-decoration:none;
}

.article_container{
  /*background-color:indianred;*/
  min-width: 838px;
  width:76%;
}

.article_container .category{
  color:steelblue;
}

.article_container .author{
  color:grey;
}

.author, .subtitle, .hypeRating{
  padding: 10px 10px 20px 0;
}

.hypeRating{
  position: relative;
  padding-top: 10px;
}

.hypeRating img{
  height:20px;
  float:left;
}

.hypeRating img:nth-child(3n){
  /*height:20px;
  float:left;*/
  padding-top:3px;
}

.hypeRating span{
  float: left;
  padding-top: 6px;
  color:grey;
  /*font-size:0.8em;*/
}

.hypeRating span:nth-child(2n){
  /*color:red;*/
  padding-right: 6px;
  font-size:0.8em;
}

.hypeRating span:nth-child(4n){
  height: 16px;
  padding-right: 3px;
}

.article_border{
  border-bottom: 1px solid #EEEEEE;
  margin: 26px 0 26px 0;
}

textarea{
  height: 100px;
  width: 200px;
}

.socialMediaContainer{
  width: 21%;
  display: inline-block;
}

.socialMediaImages{
  padding: 0 3px 0 5px;
  height: 21px;
  cursor:pointer;
}

.header-top-section, .navBtns{
  background-color:white;
  color:black;
  border:none;
}

.header-top-section{
  padding: 10px 10px 0 10px;
}

.navBtns{
  cursor:pointer;
  margin-right:5px;
  position: relative;
  top: -4px;
  padding: 10px 10px 10px 7px;
  font-size: 0.8em;
}

.navBtns:active{
  color:orange;
}

.navAccountContainer, .navGlobeContainer{
  display:inline-block;
}

.accountDropDown, .globeDropDown{
  position:absolute;
  background-color:white;
  border:1px solid lightgrey;
  padding: 10px 50px 10px 30px;
  margin: 10px 0 0 -79px;
  display:none;
}

.accountDropDown div:first-child, .globeDropDown div:first-child{
  padding-bottom:15px;
}

.accountDropDown a:hover, .globeDropDown div:hover{
  color:grey;
}

.accountDropDown a{
  color:black;
  display:block;
  text-decoration:none;
  text-align:left;
  padding:10px;
}

.globe_img{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid black;
  cursor:pointer;
}

.navTitle{
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-decoration:none;
  color:black;
}

.navBtnContainer{
  display:inline-block;
  width:29%;
  text-align:right;
}

.navSelectBtnContainer{
  display:inline-block;
}

.avatar{
  height:25px;
  width:25px;
  border-radius:50%;
  border:1px solid black;
  background-color:white;
  cursor:pointer;
}

.avatar:active{
  background-color:orange;
}

.avatar_img{
  height: 15px;
  width: 15px;
  padding-top: 2px;
  padding-left: 0px;
}

.navBarAndClose{
  display:none;
  width: 6%;
  text-align: left;
  cursor:pointer;
}

.close{
  display: inline-block;
  float: right;
  margin-right: 25px;
  margin-top: 6px;
  display:none;
}

.mobileMenu{
  display:none;
  margin-top:52px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #F2F2F2;
  color:black;
}

.mobileMenu ul{
  list-style-type: none;
  padding-left:15px;
}

.mobileMenu ul li{
  padding:10px 10px 10px 0;
  font-family:sans-serif;
  font-size:0.85em;
}

.mobile-header-top-section{
  background-color: black;
  color: white;
  border: none;
  width: 100%;
  text-align: center;
  padding: 10px 7px 5px 7px;
  margin-top: -52px;
}

.mobileNavTitle{
  display: inline-block;
  width: 82%;
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.firstUl li, .thirdUl li{
  cursor:pointer;
}

.firstUl li:hover, .thirdUl li:hover{
  color:steelblue;
}

.thirdUl li:nth-child(4n):hover{
  cursor:unset;
}

.thirdUl li:nth-child(4n):hover{
  color:black;
}

.mobileSearchBar{
  height:50px;
  background-color:white;
}

.magnifierSearchMenu img{
  display: inline-block;
  height: 29px;
  margin-top: -40px;
  position: absolute;
  margin-left: 15px;
}

.firstUl{
  border-bottom:1px solid lightgrey;
  padding-bottom: 14px;
}

.secondUl{
  border-bottom:1px solid lightgrey;
  padding-bottom: 14px;
}

.dropIcon{
  height: 23px;
  float: right;
}

.mobileSearchBar ul:nth-child(2n){
  border-bottom:1px solid red;
}

.copyright{
  font-size: 0.8em;
  margin-left: 13px;
  padding-bottom: 20px;
}

.searchInputBox{
  margin-top: -1px;
  width: 100%;
  border: none;
  height: 46px;
  text-indent: 55px;
}

.main-nav ul{
  list-style-type: none;
  margin-bottom: 0;
  padding-left:0;
}

.main-nav ul li{
  display: inline-block;
  padding: 10px 28px 10px 28px;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
  border-bottom: 3px solid white;
  font-size: 0.8em;
}

.main-nav ul li:first-child{
  padding: 10px 23px 10px 27px;
}

.main-nav ul li:hover{
  border-bottom: 3px solid black;
}

.magnifier{
  display:inline-block;
  font-size:1.2em;
  width: 6%;
  text-align: right;
  cursor:pointer;
}

.magnifier img{
  height:25px;
}

.magnifierMobile{
  cursor:pointer;
  display:none;
}

.nav{
  border-bottom: 0.5px solid gainsboro;
  /*margin: 16px 35px 0 35px;*/
  margin: 16px 55px 0 51px;
}

.displayBlock{
  display:inline-block;
}

.displayNone{
  display:none;
}

.close{
  cursor:pointer;
}

.hamburger img, .close img{
  height:20px;
}

.index_banner_image{
  margin-top: -17px;
  width:100%;
}

.top_ten_container{
  border:1px solid #F0F0F0;
  padding: 10px 34px 5px 34px;
}

.top_ten_header{
  border-bottom:1px solid #F0F0F0;
  margin-bottom: 15px;
}

.top_ten_header h2{
  margin-bottom: 13px;
  font-size: 1.5em;
  font-weight: bold;
}

.top_ten_header title{
  float: right;
  margin-top: 29px;
}

.top_ten_header h2 span{
  float: right;
  font-size: 0.45em;
  color: grey;
  margin-top: 12px;
  font-weight: 400;
}

.top_ten_story{
  border:1px solid steelblue;
  max-width:50%;
}

.top_ten_title{
  display: inline-block;
  width: 60%;
  font-size: 0.8em;
  position: relative;
}

.top_ten_title img{
  height:22px;
}

.top_ten_number{
  display: inline-block;
}

.top_ten_number div{
  position: relative;
  top: -50px;
  color:grey;
}

.top_ten_hype{
  position: relative;
  top: -5px;
  color:grey;
}

.top_ten_description img{
  height:22px;
  display:inline-block;
}

.top_ten_description div .post_title{
  margin-top: 0;
  margin-bottom: 8px;
}

.top_ten_title post_title{
  margin-top: 0;
}

.title:hover{
  cursor:pointer;
  color:grey;
}

.top_ten_image{
  display: inline-block;
  width: 21.8%;
  padding-right: 20px;
  padding-left: 28px;
}

.top_ten_image img{
  height:74px;
 }

.more_button_mobile{
  display:none;
}

.more_button, .more_button_mobile{
  display:block;
  border: 1px solid lightgrey;
  padding: 12px;
  margin: auto;
  min-width: 838px;
  width: 91%;
  text-align: center;
  color: grey;
  margin-top: -27px;
  margin-bottom: 60px;
}

.more_button_mobile{
  min-width:unset;
}

.more_button:hover, .more_button_mobile:hover{
  cursor:pointer;
  background-color:#C3C3C3;
  color:white;
}

.fa-chevron{
  font-size: 10px;
  padding: 5px;
  position: relative;
  top: -3px;
}

.top_ten_container{
  display:block;
}

.top_ten_mobile_container{
  display:none;
}

.feed_header_mobile{
  display:none;
  width:100%;
  border-bottom:1px solid #EEEEEE;
}

.feed_button:hover{
  cursor:pointer;
  color:gainsboro;
}

.feed_latest{
  background-color:black;
  color:white;
}

.feed_button{
  color:#EEEEEE;
  padding: 20px 0 16px 0;
  text-align: center;
  width: 33.3%;
  display: inline-block;
}

@media only screen and (max-width: 759px){
  body{
    background-color: pink;
  }
  .top_ten_container{
    display:none;
  }
  .top_ten_mobile_container{
    display:block;
  }
  .top_ten_story{
    max-width:unset;
  }
  .top_ten_image img{
    height:55px;
  }
  .top_ten_number div{
    top: -25px;
  }
  .top_ten_image{
    height:55px;
  }
  .post_title{
    font-size: 1.1em;
  }
  .feed_header_mobile{
    display:block;
  }
  .content{
    margin: 16px 22px 0 22px;
  }
  .article_info{
    display: block;
    float: unset;
    width:100%;
    height:unset;
  }
  .article_container{
    width:unset;
    min-width: unset;
  }
  .article_container .post_image{
    height: 100%;
    width:100%;
  }
  .author{
    font-size: 0.7em;
  }
  .subtitle{
    display:none;
  }
  .hypeRating{
    float: right;
    margin-top: -47px;
    font-size: 0.8em;
  }
  .article_border{
    margin: 8px 0 20px 0;
  }
  .banner_container{
    margin: unset;
    margin-top:6px;
  }
  .index_banner_image{
    width:150%;
  }
  .navBarAndClose{
    display:inline-block;
  }
  .navBtnContainer{
    display:none;
  }
  .navTitle{
    width: 86%;
    font-size: 1.5em;
  }
  .socialMediaContainer{
    display:none;
  }
  .allSectionsNavLink{
    display:none !important;
  }
  .main-nav ul li:first-child {
    padding: 10px 10px 16px 5px;
  }
  .main-nav ul li {
    padding: 10px 14px 16px 14px;
  }
  .main-nav ul {
    margin: 10px 0px 7px 10px;
    min-width: 758px;
  }
  .main-nav ul li:hover{
    border-bottom: 3px solid white;
    color:grey;
  }
  .nav{
    margin:0;
  }
  .header-top-section{
    padding-bottom:15px;
    border-bottom:1px solid gainsboro;
  }
  .magnifier{
    display:none;
  }
  .magnifierMobile{
    /*display:none;*/
    height:25px;
    display: inline-block;
    width: 8%;
    text-align: right;
  }
  .magnifierMobile img{
    height:25px;
  }
  .more_button{
    min-width:unset;
    margin-top:-21px;
  }
  .footer_content, .footer_text_links{
    display:none !important;
  }
  .returnToTop{
    display:none;
  }
  .more_button_mobile{
    display:none;
  }
  /*.index_banner_image{
    width:100%;
  }*/
}

@media (min-width: 760px) and (max-width: 989px){
  body{
    background-color: skyblue;
  }
  .content{
    padding-top:20px;
  }
  .article_container .post_image{
    height: 265px;
  }
  .article_container{
    background-color: indianred;
    width: 55%;
    min-width: unset;
    /* min-width: 838px; */
    /* float: left; */
  }
  .feed_header{
    margin-bottom: 25px;
  }
  .nav, .banner_container, .content{
    /*margin: 16px 100px 0 100px;*/
    margin:auto;
    width:723px;
  }
  .article_info{
    display: block;
    float: unset;
    width: 99%;
    height:unset;
  }
  .subtitle{
    display:none;
  }
  .author{
    font-size: 0.7em;
  }
  .hypeRating{
    float: right;
    margin-top: -49px;
  }
  .more_button_mobile{
    display:block;
  }
  .more_button{
    display:none;
  }
  .top_ten_title{
    display: inline-block;
    font-size: 0.8em;
     width: 185px;
    /* position: relative; */
  }
  .top_ten_description .post_title{
    font-size: 1.2em;
  }
  .top_ten_number div{
    left: 14px;
  }
  .top_ten_container{
    padding: 0px 10px 5px 10px;
  }
  .top_ten_image{
    padding-right: 35px;
    padding-left: 35px;
  }
  .top_ten_image img{
    height:64px;
  }
  .index_banner_image{
    margin-top:-1px;
  }
  .navTitle{
    width:40%;
  }
  .socialMediaContainer{
    width:31%;
  }
  .socialMediaImages{
    padding: 0 1px 0 3px;
  }
  .footwearNavLink
  , .musicNavLink
  , .artsNavLink
  , .designNavLink
  , .editorialsNavLink
  , .videosNavLink
  , .radioNavLink{
    display:none !important;
  }
  .magnifier{
    float:right;
    margin-top: -33px;
  }
  .magnifierMobile{
    display:none !important;
  }
}

@media (min-width: 990px) and (max-width: 1230px){
  body{
    background-color:red;
  }
  .socialMediaImages{
    padding: 0 1px 0 2px;
  }
  .nav{
    max-width: 935px;
    margin: auto;
    margin-top: 10px;
  }
  .artsNavLink
  , .designNavLink
  , .editorialsNavLink{
    display:none !important;
  }
  .magnifier{
    float:right;
    margin-top: -33px;
  }
  .magnifierMobile{
    display:none !important;
  }
  .more_button_mobile{
    display:none;
  }
}

@media (min-width: 1231px) {
  body{
    background-color:limegreen;
  }
  .magnifier{
    float:right;
    margin-top: -33px;
  }
  .banner_container{
    margin: 16px 55px 0 51px;
    max-width:unset;
  }
  .more_button_mobile{
    display:none;
  }
}
