extends hbx_layout

block content
  .hbx_successful_register_content
    .hbx_successful_register_message
      .hbx_successful_register_header SIGN UP COMPLETE
      p You have successfully created your Account!
      a.hbx_continue_link(href="/hbx_login") Continue
