extends hbx_layout

block content
  
  .hbx_login_content
    .login_select_container
      a(href="/hbx_login").login_select.login_select_signin 
        .login_title Log In
        .login_subtitle EXISTING CUSTOMERS
      .login_select.login_select_register 
        .login_title Create Account
        .login_subtitle NEW CUSTOMERS
    .login_main_container
      .login_first_div
        p.login_instructions Log In with your Facebook or Google account
        form.hbx_form(method='get' action="/hbx/auth/facebook/")
          button.hbx_login_social.login_hbx_facebook(type='submit') 
            i.fa.fa-fw.fa-facebook#facebook-login
            span LOG IN WITH FACEBOOK
        form.hbx_form(method='get' action="/hbx/auth/google/")
          button.hbx_login_social.login_hbx_google(type='submit') 
            i.fa.fa-fw.fa-google 
            span LOG IN WITH GOOGLE
      hr.hbx_hr
      .login_or or
      .login_second_div
        p.login_instructions Sign in with your email address username
        form.hbx_form(method='post' action="hbx_register")
          div.label
            label EMAIL / USERNAME
          div
            input.login_input(name="email" type="email")
          div.label.password_label
            label PASSWORD
          div
            input.login_input(name="password" type="password")
          
          .register_options_container
            span By signing up, you agree to our 
            span.option_button Terms of Use 
            span and 
            span.option_button Privacy Policy.
          
          input#hbx_log_in(type="submit" value="SIGN UP")
