
block footer
  .hbx_footer_content
    .hbx_footer_social_container
      .follow_us FOLLOW US
      .hbx_footer_social_media
        i.fa.fa-lg.fa-facebook.empty_link
        i.fa.fa-lg.fa-instagram.empty_link
        i.fa.fa-lg.fa-twitter.empty_link
    .hbx_subscribe_download_container
      .hbx_subscribe_container
        .hbx_subscribe_input_container
          input.subscribe_input(placeholder="Subscribe to our newsletter")
          span.subscribe_text.empty_link SUBSCRIBE
        .subscribe_subtitle Subscribe now and enjoy 10% off your first order!
      .hbx_download_container
        img.hbx_app_logo.empty_link(src="/images/hbx_images/general/hbx_app.png")
        .hbx_message_container
          .hbx_message DOWNLOAD THE HBX APP
          .hbx_subtitle For phones and tablets on iOS and Android
    hr
    ul.footer_container
      li.footer_links.empty_link ABOUT
      li.footer_links.empty_link HELP
      li.footer_links.empty_link AFFILIATES
      li.footer_links.empty_link VIP PROGRAM
      li.footer_links.empty_link REFERRAL PROGRAM
      .right_side_footer
        li.footer_ship_to SHIP TO:
          img.footer_usa_flag(src="/images/hbx_images/general/usa_flag.png")
          span UNITED STATES (USD)
        li.empty_link CHANGE
        img.norton_logo(src="/images/hbx_images/general/norton_logo.png")
    ul.footer_copyright
      li 2017 
        span.copyright_brand_name.empty_link Hypebeast Limited. 
        span All Right Reserved. 
        span.terms.empty_link Terms & Conditions 
        span.privacy_policy.empty_link Privacy Policy
      li HBX® is a registered trademark of 101 Media Lab, Ltd.
