extends hbx_layout

block content
  .content
    .hbx_your_settings_content
      .hbx_settings_nav
        .settings_nav_heading Account Settings
        a.hbx_settings_nav_link.profile_link(href="/hbx_account") PROFILE
        a.hbx_settings_nav_link.profile_link(href="/hbx_account/address_info") ADDRESS INFO
        a.hbx_settings_nav_link.profile_password(href="/hbx_account/password") PASSWORD
        a.hbx_settings_nav_link.profile_password(href="/hbx_account/orders") ORDERS
      .hbx_settings_controls
        .settings_edit_password
          .hbx_edit_profile_header Edit Password
          .password_form_error_message
          .password_form_success_message
          .form
            .form_group
              div.hbx_label
                label.profile_label CURRENT PASSWORD
              div
                input.profile_input.profile_curr_password_input(name="current_password" type="password")
            .form_group
              div.hbx_label
                label.profile_label NEW PASSWORD
              div
                input.profile_input.profile_password_input(name="new_password" type="password")
            .form_group
              div.hbx_label
                label.profile_label VERIFY PASSWORD
              div
                input.profile_input.profile_verify_password_input(name="verify_new_password" type="password")
            button#save_password_changes.account_buttons(onclick="updateHBXPassword()") Save Changes
