.your_settings_content{
  height:100vh;
  display:flex;
  flex-wrap:wrap;
}

.edit_profile_header{
  color:#333333;
}

.settings_nav, .settings_controls{
  display:inline-block;
  padding-top:30px;
}

.settings_nav_link:hover{
  color:#2D86D0;
  cursor:pointer;
}

.settings_nav_link{
  font-size:15px;
}

.settings_nav{
  width:200px;
}

.settings_nav div{
  padding-bottom:20px;
}

.edit_profile_header{
  font-weight: 500;
  font-size: 22px;
  padding-bottom:30px;
}

.form_group{
  padding-bottom:20px;
}

.profile_label{
  font-size:13px;
}

.profile_input{
  width:330px;
  padding:6px;
}

.settings_nav_link{
  color:#555555;
  display:block;
  text-decoration:none;
  padding-bottom:20px;
}

#update_profile:hover, #save_password_changes:hover{
  background-color:#236CA6;
}

#close_account:hover{
  background-color:#CB2E25;
}

#close_account{
  background-color:#DB524B;
  border:1px solid #D63D34;
  padding: 8px 12px 8px 12px;
}

#update_profile, #save_password_changes{
  background-color: #2D86D0;
  border:none;
  padding: 9px 13px 9px 13px;
}

#update_profile, #save_password_changes, #close_account{
  color: white;
  font-size: 14px;
  margin-right:10px;
  cursor:pointer;
}

.close_account:hover{
  color:#236CA6;
}

.close_account{
  text-decoration: none;
  color: #2D86D0;
  font-size:14px;
}

.settings_close_account p{
  width:600px;
  font-size:14px;
  margin-top: 0;
}

.profile_close_account_input{
  width:100%;
}
