html, body{
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Source Sans Pro HB","Helvetica Neue",Helvetica,Arial,sans-serif,"Microsoft Yahei";
}

.username_div{
  display: inline-block;
  padding-right: 10px;
  color:grey;
  position: absolute;
  margin-top: 33px;
  font-size: 11px;
  width: 164px;
  text-align: center;
  border: none;
}

button:focus{
  outline:none;
}

.banner_ad_section{
  background-color:#EEEEEE;
  text-align:center;
}

.banner_ad_section img{
  width:965px;
  margin-bottom: -3px;
  margin-top: -2px;
  cursor:pointer;
}

.banner_container{
  max-width: 1172px;
  margin: auto;
  margin-top: 16px;
  text-align:center;
  display:flex;
}

.banner_article_title_container, .banner_article_title_container_side{
  background-color:white;
  z-index:20;
  text-align:left;
  position:absolute;
}

.banner_article_title_container{
  width: 600px;
  margin-top: -125px;
  padding: 20px 20px 20px 30px;
}

.banner_article_title_container_side{
  width: 350px;
  margin-top: -91px;
  padding: 15px 15px 15px 20px;
}

.banner_article_category{
  color:steelblue;
}

.banner_article_title_main{
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.banner_article_title_side{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color:black;
}

.banner_article_title_main:hover, .banner_article_title_side:hover{
  cursor:pointer;
  opacity:0.6;
}

.text_align_left{
  text-align:left !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~ userlogin ~~~~~~~~~~~~~~~~~~~~~~~ */
.login_successful{
  display:none;
  background-color: #DFF0D7;
  padding: 15px 0 15px 20px;
  margin: 0 0 20px 0;
  border: 1px solid #D6EAC5;
  color: #3A773A;
  font-size: 13px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.wide_ad_container{
  width: 100%;
  text-align: center;
  padding: 10px 0 40px 0;
}

.wide_ad{
  width: 90%;
  cursor:pointer;
}

.content{
  margin: 16px 55px 0 51px;
}

.returnToTop{
  position: fixed;
  bottom: 25px;
  right: 30px;
  cursor:pointer;
}

.returnToTop img{
  height:50px;
  width:50px;
}

.title h2{
  margin: 10px 0 10px 0;
}

.article_info{
  float:right;
  width: 52%;
  height:250px;
}

.article_container .post_image{
  height:250px;
}

.article_info a{
  color:black;
  text-decoration:none;
}

.article_container{
  max-width: 815px;
  width:76%;
}

.article_container .category{
  color:steelblue;
}

.article_container .author{
  color:grey;
}

.author, .subtitle, .hypeRating{
  padding: 10px 10px 20px 0;
}

.hypeRating{
  position: relative;
  padding-top: 10px;
}

.hypeRating img{
  height:20px;
  float:left;
}

.hypeRating img:nth-child(3n){
  padding-top:3px;
}

.hypeRating span{
  float: left;
  padding-top: 6px;
  color:grey;
}

.hypeRating span:nth-child(2n){
  /*color:red;*/
  padding-right: 6px;
  font-size:0.8em;
}

.hypeRating span:nth-child(4n){
  height: 16px;
  padding-right: 3px;
}

.article_border{
  border-bottom: 1px solid #EEEEEE;
  margin: 26px 0 26px 0;
}

textarea{
  height: 100px;
  width: 200px;
}

.socialMediaContainer{
  width: 21%;
  display: inline-block;
}

.socialMediaImages{
  padding: 0 3px 0 5px;
  height: 21px;
  cursor:pointer;
}

.header-top-section, .navBtns{
  background-color:white;
  color:black;
  border:none;
}

.header-top-section{
  padding: 10px 10px 0 10px;
}

.navBtns{
  cursor:pointer;
  margin-right:5px;
  position: relative;
  top: -4px;
  padding: 10px 10px 10px 7px;
  font-size: 0.8em;
}

.navBtns:active{
  color:orange;
}

.navAccountContainer, .navGlobeContainer{
  display:inline-block;
}

.accountDropDown,
.globeDropDown,
.accountDropDownLoggedIn{
  position:absolute;
  z-index: 10;
  background-color:white;
  border:1px solid lightgrey;
  padding: 10px 50px 10px 30px;
  margin: 10px 0 0 -79px;
  display:none;
}

.accountDropDown div:first-child,
.globeDropDown div:first-child,
.accountDropDownLoggedIn div:first-child{
  padding-bottom:15px;
}

.accountDropDown a:hover,
.globeDropDown div:hover,
.accountDropDownLoggedIn a:hover{
  color:grey;
}

.accountDropDown a, .accountDropDownLoggedIn a{
  color:black;
  display:block;
  text-decoration:none;
  text-align:left;
  padding:10px;
}

.accountDropDownLoggedIn .settings_link{
  width: 76px;
}

.globe_img{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid black;
  cursor:pointer;
}

.navTitle{
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-decoration:none;
  color:black;
}

.navBtnContainer{
  display:inline-block;
  width:29%;
  text-align:right;
}

.navSelectBtnContainer{
  display:inline-block;
}

.avatar{
  height:25px;
  width:25px;
  border-radius:50%;
  border:1px solid black;
  background-color:white;
  cursor:pointer;
}

.avatar:active{
  background-color:orange;
}

.avatar_img{
  height: 15px;
  width: 15px;
  padding-top: 2px;
  padding-left: 0px;
}

.navBarAndClose{
  display:none;
  width: 6%;
  text-align: left;
  cursor:pointer;
}

.close{
  display: inline-block;
  float: right;
  margin-right: 25px;
  margin-top: 6px;
  display:none;
}

.mobileMenu{
  display:none;
  margin-top:52px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #F2F2F2;
  color:black;
}

.mobileMenu ul{
  list-style-type: none;
  padding-left:15px;
}

.mobileMenu ul li{
  padding:10px 10px 10px 0;
  font-family:sans-serif;
  font-size:0.85em;
}

.mobile-header-top-section{
  background-color: black;
  color: white;
  border: none;
  width: 100%;
  text-align: center;
  padding: 10px 7px 5px 7px;
  margin-top: -52px;
}

.mobileNavTitle{
  display: inline-block;
  width: 82%;
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.firstUl li, .thirdUl li{
  cursor:pointer;
}

.firstUl li:hover, .thirdUl li:hover{
  color:steelblue;
}

.thirdUl li:nth-child(4n):hover{
  cursor:unset;
}

.thirdUl li:nth-child(4n):hover{
  color:black;
}

.mobileSearchBar{
  height:50px;
  background-color:white;
}

.magnifierSearchMenu img{
  display: inline-block;
  height: 29px;
  margin-top: -40px;
  position: absolute;
  margin-left: 15px;
}

.dropdown_link:hover{
  cursor:pointer;
  color:white
}

.dropdown_link{
  font-size: 0.9em;
  padding: 20px 0 0 20px;
}

.nav_dropdown{
  display:none;
  margin-top: 10px;
  width: 185px;
  position: absolute;
  z-index:5;
  color: gainsboro;
  padding-bottom: 20px;
}

.fashion_dropdown, .footwear_dropdown, .music_dropdown, .arts_dropdown{
  background-color: #1E1E1E;
}

.fashion_dropdown{
  margin-left:-27px
}

.footwear_dropdown, .music_dropdown, .arts_dropdown, .all_sections_dropdown{
  margin-left: -28px;
}

.all_sections_dropdown{
  width:100%;
}

.mobile_all_sections{
  display:none;
}

.dropdown_right_content{
  padding-bottom:20px;
}

.dropdown_header{
  font-size:1.2em;
  color:black;
  padding-bottom:10px;
}

.dropdown_text{
  font-size: 0.8em;
  color: grey;
  line-height: 1.4;
}

.dropdown_text img{
  height:100px;
}

.dropdown_magazine_container img{
  height:100px;
  display:inline-block;
}

.dropdown_magazine_container .dropdown_text{
  display:inline-block;
  width:180px;
  float: left;
}

.all_sections_left_container, .all_sections_right_container{
  display:inline-block;
}

.all_sections_left_container{
  background-color: #1E1E1E;
  width: 210px;
  padding-bottom: 15px;
}

.all_sections_right_container{
  background-color:#EEEEEE;
  padding:20px;
  padding-bottom: 28px;
  width: 260px;
  position: absolute;
}

.firstUl{
  border-bottom:1px solid lightgrey;
  padding-bottom: 14px;
}

.secondUl{
  border-bottom:1px solid lightgrey;
  padding-bottom: 14px;
}

.dropIcon{
  height: 23px;
  float: right;
}

.mobileSearchBar ul:nth-child(2n){
  border-bottom:1px solid red;
}

.copyright{
  font-size: 0.8em;
  margin-left: 13px;
  padding-bottom: 20px;
}

.searchInputBox{
  margin-top: -1px;
  width: 100%;
  border: none;
  height: 46px;
  text-indent: 55px;
}

.main-nav{
  position:relative;
}

.main-nav ul{
  list-style-type: none;
  margin-bottom: 0;
  padding-left:0;
}

.main-nav ul li, .storeNavLink{
  display: inline-block;
  padding: 10px 28px 10px 28px;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
  border-bottom: 3px solid white;
  font-size: 0.8em;
}

.storeNavLink{
  color:black;
  text-decoration:none;
}

.main-nav ul li:first-child{
  padding: 10px 23px 10px 27px;
}

.main-nav ul li:hover, .storeNavLink:hover{
  border-bottom: 3px solid black;
}

.magnifier{
  display:inline-block;
  font-size:1.2em;
  width: 6%;
  text-align: right;
  cursor:pointer;
}

.magnifier img{
  height:25px;
}

.magnifierMobile{
  cursor:pointer;
  display:none;
}

.search_nav_container{
  display:none;
  height: 200px;
  background-color: #EEEEEE;
  width: 100%;
  position: absolute;
  z-index:21;
}

.search_nav_glass{
  margin-top: -55px;
  margin-left: 0px;
  float: left;
  height: 35px;
  padding-left: 15px;
  background-color: #EEEEEE;
}

.search_nav_input:focus{
  outline:none;
}

.search_nav_close{
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-top: -49px;
  height: 28px;
  padding-right: 10px;
}

.search_nav_input{
  width: 94.9%;
  border: none;
  padding: 24px;
  background-color: transparent;
  text-indent: 36px;
  font-size: 1.4em;
  font-weight: 200;
}

.trending_searches{
  padding: 20px 0 20px 50px;
  line-height: 2;
  background-color:#EEEEEE;
}

.trending_header{
  color: #C0C0C0;
  font-size: 0.7em;
}

.trending_topic{
  color: #363636;
}

.search_border{
  border-bottom:1px solid #DFDFDF;
  margin: 0 20px 0 20px;
}

.nav{
  margin: 16px 55px 0 51px;
}

.displayBlock{
  display:inline-block;
}

.displayNone{
  display:none;
}

.close{
  cursor:pointer;
}

.hamburger img, .close img{
  height:20px;
}

.index_banner_image{
  margin-top: -17px;
  width:100%;
  margin:auto;
  margin-right:20px;
  max-width:700px;
  height:551px;
}

.index_banner_image_side_bottom{
  padding-top:20px;
}

.index_banner_image_side{
  margin-top:-17px;
  width:100%;
  margin:auto;
  max-width:450px;
  height:265px;
}

.top_stories{
  padding-bottom:20px;
  margin:auto;
}

.top_ten_container{
  display:block;
  border:1px solid #F0F0F0;
  padding: 10px 34px 40px 34px;
}

.top_ten_header{
  border-bottom:1px solid #F0F0F0;
  margin-bottom: 15px;
}

.top_ten_header h2{
  margin-bottom: 13px;
  font-size: 1.5em;
  font-weight: bold;
}

.top_ten_header title{
  float: right;
  margin-top: 29px;
}

.top_ten_header h2 span{
  float: right;
  font-size: 0.45em;
  color: grey;
  margin-top: 12px;
  font-weight: 400;
}

.top_ten_left, .top_ten_right{
  display:inline-block;
  width:50%;
}

.top_ten_left{
  /*background-color:orange;*/
}

.top_ten_left .top_ten_story{
  /*background-color:purple;*/
}
.top_ten_right .top_ten_story{
  /*background-color:orange;*/
}

.top_ten_title{
  display: inline-block;
  width: 68%;
  font-size: 0.8em;
  position: relative;
}

.top_ten_details img{
  height:16px;
  padding-right:4px;
}

.top_ten_details{
  position: absolute;
  margin-left: 151px;
  margin-top: -19px;
  font-size:13px;
}

.top_ten_number{
  display: inline-block;
}

.top_ten_number div{
  position: absolute;
  margin-top: 33px;
  color: grey;
}

.top_ten_hype{
  position: relative;
  top: -2px;
  color:grey;
}

.top_ten_secret{
  display:none;
}

.top_ten_description img{
  height:22px;
  display:inline-block;
}

.top_ten_description div .post_title{
  margin-top: 0;
  margin-bottom: 8px;
}

.top_ten_description:hover{
  opacity:0.6;
}

.top_ten_description{
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.4;
  padding-bottom: 10px;
  position: absolute;
  top: -64px;
  color:black;
}

.top_ten_story_mobile{
  margin-bottom:20px;
}

.mobile_hype_img{
  height:17px;
}

.top_ten_description_mobile .post_title{
  background-color: green;
}
.top_stories{
  /*background-color: blue;*/
}
.top_ten_description_mobile{
  top:-37px;
  line-height:1;
  font-size:16px;
}

.top_ten_title post_title{
  margin-top: 0;
}

.title:hover{
  cursor:pointer;
  color:grey;
}

.top_ten_image{
  display: inline-block;
  width:101px;
  padding-left: 33px;
}

.top_ten_image img{
  height:74px;
 }

.more_button_mobile{
  display:none;
}

.more_button, .more_button_mobile{
  display:block;
  border: 1px solid lightgrey;
  padding: 12px;
  margin: auto;
  min-width: 838px;
  width: 91%;
  text-align: center;
  color: grey;
  margin-top: -27px;
  margin-bottom: 60px;
}

.more_button_mobile{
  min-width:unset;
}

.more_button:hover, .more_button_mobile:hover{
  cursor:pointer;
  background-color:#C3C3C3;
  color:white;
}

.fa-chevron{
  font-size: 10px;
  padding: 5px;
  position: relative;
  top: -3px;
}

.top_ten_mobile_container{
  display:none;
}

.feed_header{
  border-bottom:1px solid #EEEEEE;
  margin-bottom:20px;
}

.feed_header_mobile{
  display:none;
  width:100%;
  border-bottom:1px solid #EEEEEE;
}

.feed_button:hover{
  cursor:pointer;
  color:gainsboro;
}

.feed_latest{
  background-color:black;
  color:white;
}

.feed_button{
  color:#EEEEEE;
  padding: 20px 0 16px 0;
  text-align: center;
  width: 33.3%;
  display: inline-block;
}

.sticky_container{
  width: 303px;
  height: 1000px;
  float: right;
}

.sticky_container img{
  /*width: 100%;*/
  width: 303px;
  padding-bottom:20px;
  cursor:pointer;
}

.sticky_ad_two{
  margin-top:20px;
}

.newsletter_widget{
  background-color:#EBEBEB;
  text-align: center;
  padding: 22px;
}

.newsletter_heading{
  font-size:1.7em;
  line-height:0;
}

.newsletter_input:focus{
  outline:none;
}

.newsletter_input{
  font-size:0.7em;
  padding: 11px 56px 11px 11px;
  border:none;
}

.newsletter_text{
  font-size:0.9em;
  line-height: 1.5;
  padding-bottom: 8px;
}

.newsletter_subtitle{
  font-size:0.7em;
  line-height:0;
  padding-bottom: 1em;
  color:#7F7F7F;
}

.newsletter_button:hover{
  background-color: #007ED8;
}

.newsletter_button{
  background-color:#006FBF;
  border:none;
  color:white;
  font-size:0.8em;
  padding: 10.12px;
  cursor:pointer;
}

.hypebeast_jobs{
  padding: 20px 0 20px 0;
}

.jobs_title{
  line-height: 1.7;
  font-weight: 500;
}

.jobs_location{
  color:#7F7F7F;
}

.jobs_container:hover{
  opacity:0.5;
  cursor:pointer;
}

.jobs_link:hover{
  color:black;
  cursor:pointer;
}

.jobs_link{
  color:#EEEEEE;
  float: right;
  margin-top: -15px;
  font-size:0.8em;
}

.jobs_container, .jobs_top_container{
  padding: 10px 0 10px 0;
  border-bottom:1px solid #EEEEEE;
}

.jobs_button:hover{
  cursor:pointer;
  border:1px solid grey;
  color:grey;
}

.jobs_button{
  text-align: center;
  border: 1px solid #EEEEEE;
  margin: 10px 0 10px 0;
  padding: 10px;
  margin-top:-1px;
}

@media only screen and (max-width: 523px){
  .top_ten_title{
    top: -20px;
    left: 93px;
    line-height: 1;
  }
  .top_ten_description_mobile{
    width:86%;
  }
}

@media only screen and (max-width: 759px){
  body{
    /*background-color: pink;*/
  }
  .top_ten_description{
    width: 87%;
    max-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .search_nav_container{
    display:none;
    position: fixed;
    top: 0px;
    left: 0;
  }
  .nav_dropdown{
    display:none !important;
  }
  .main-nav ul li:hover{
    background-color:transparent !important;
    color:grey !important;
  }
  .sticky_container, .wide_ad{
    display:none;
  }
  .top_stories{
    padding-bottom:20px;
  }
  .top_ten_container{
    display:none;
  }
  .top_ten_mobile_container{
    display:block;
  }
  .top_ten_story{
    max-width:unset;
  }
  .top_ten_title{
    width: 75%;
    margin-left: 25px;
  }
  .top_ten_image{
    width:75px;
    padding-left: 20px;
  }
  .top_ten_image img{
    height:55px;
  }
  .post_title{
    font-size: 1.1em;
  }
  .feed_header{
    display:none;
  }
  .feed_header_mobile{
    display:block;
  }
  .content{
    margin: 16px 22px 0 22px;
  }
  .article_info{
    display: block;
    float: unset;
    width:100%;
    height:unset;
  }
  .article_container{
    width:unset;
    min-width: unset;
  }
  .article_container .post_image{
    height: 100%;
    width:100%;
  }
  .author{
    font-size: 0.7em;
  }
  .subtitle{
    display:none;
  }
  .hypeRating{
    float: right;
    margin-top: -47px;
    font-size: 0.8em;
  }
  .article_border{
    margin: 8px 0 20px 0;
  }
  .banner_container{
    margin: unset;
    margin-top:6px;
  }
  .index_banner_image{
    width:150%;
    margin-top: -14px;
  }
  .navBarAndClose{
    display:inline-block;
  }
  .navBtnContainer{
    display:none;
  }
  .navTitle{
    width: 86%;
    font-size: 1.5em;
  }
  .socialMediaContainer{
    display:none;
  }
  .allSectionsNavLink{
    display:none !important;
  }
  .main-nav ul li:first-child {
    padding: 10px 10px 16px 5px;
  }
  .main-nav ul li {
    padding: 10px 14px 16px 14px;
  }
  .main-nav ul {
    margin: 10px 0px 7px 10px;
    min-width: 758px;
  }
  .main-nav ul li:hover{
    border-bottom: 3px solid white;
    color:grey;
  }
  .nav{
    margin:0;
  }
  .header-top-section{
    padding-bottom:15px;
    border-bottom:1px solid gainsboro;
  }
  .magnifier{
    display:none;
  }
  .magnifierMobile{
    height:25px;
    display: inline-block;
    width: 8%;
    text-align: right;
  }
  .magnifierMobile img{
    height:25px;
  }
  .more_button{
    min-width:unset;
    margin-top:-21px;
  }
  .footer_content, .footer_text_links{
    display:none !important;
  }
  .more_button_mobile{
    display:none;
  }
}

@media (min-width: 760px) and (max-width: 989px){
  body{
    /*background-color: skyblue;*/
  }
  .top_ten_details{
    margin-left:148px;
  }
  .top_ten_description{
    width: 107%;
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .top_ten_number div{
    left: unset;
  }
  .all_sections_right_container{
    padding-bottom: 100px;
  }
  .mobile_all_sections{
    display:block
  }
  .wide_ad{
    display:none;
  }
  .content{
    padding-top:20px;
  }
  .article_container .post_image{
    height: 265px;
  }
  .article_container{
    width: 55%;
    min-width: unset;
  }
  .feed_header{
    margin-bottom: 25px;
  }
  .nav, .banner_container, .content{
    margin:auto;
    width:723px;
  }
  .article_info{
    display: block;
    float: unset;
    width: 99%;
    height:unset;
  }
  .subtitle{
    display:none;
  }
  .author{
    font-size: 0.7em;
  }
  .hypeRating{
    float: right;
    margin-top: -49px;
  }
  .more_button_mobile{
    display:block;
  }
  .more_button{
    display:none;
  }
  .top_ten_title{
    display: inline-block;
    font-size: 0.8em;
     width: 185px;
  }
  .top_ten_description .post_title{
    font-size: 1.2em;
  }
  .top_ten_number div{
    /*left: 14px;*/
  }
  .top_ten_container{
    padding: 0px 10px 5px 10px;
  }
  .top_ten_image{
    padding-right: 8px;
    padding-left: 35px;
  }
  .top_ten_image img{
    height:64px;
  }
  .index_banner_image{
    margin-top:-1px;
  }
  .navTitle{
    width:40%;
  }
  .socialMediaContainer{
    width:31%;
  }
  .socialMediaImages{
    padding: 0 1px 0 3px;
  }
  .footwearNavLink
  , .musicNavLink
  , .artsNavLink
  , .designNavLink
  , .editorialsNavLink
  , .videosNavLink
  , .radioNavLink{
    display:none !important;
  }
  .magnifier{
    float:right;
    margin-top: -33px;
  }
  .magnifierMobile{
    display:none !important;
  }
}

@media (min-width: 990px) and (max-width: 1230px){
  body{
    /*background-color:indianred;*/
  }
  .blog_text_content{
    /*text-align:center;*/
  }
  .banner_container{
    margin-top:1px;
  }
  .top_ten_description{
    width: 87%;
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-left: 28px;
  }
  .top_ten_details{
    margin-left: 158px;
  }
  .top_ten_image{
    padding-left:25px;
  }
  .index_banner_image{
    width:935px;
  }
  .top_stories{
    width:935px;
    margin:auto;
  }
  .top_ten_container{
    max-width:983px;
  }
  .article_container{
    min-width:unset;
    width: 615px;
  }
  .article_container .post_image{
    height: 177px;
    padding-bottom: 85px;
  }
  .socialMediaImages{
    padding: 0 1px 0 2px;
  }
  .nav{
    max-width: 935px;
    margin: auto;
    margin-top: 10px;
  }
  .artsNavLink
  , .designNavLink
  , .editorialsNavLink{
    display:none !important;
  }
  .magnifier{
    float:right;
    margin-top: -33px;
  }
  .magnifierMobile{
    display:none !important;
  }
  .more_button_mobile{
    display:none;
  }
  .content{
    max-width: 936px;
    margin: auto;
  }
}

@media (min-width: 1231px) {
  body{
    /*background-color:limegreen;*/
  }
  .nav{
    width: 1171px;
    margin: auto;
  }
  .post_container{
    width: 1171px;
    /*background-color: red;*/
    margin: auto;
  }
  .post_content{
    padding-left: unset !important;
    width:70% !important;
  }
  .banner_container{
    margin-top:1px;
  }
  .content_posts{
    width:1171px;
  }
  .top_ten_details{
    margin-left: 167px;
  }
  .top_ten_image{
    padding-right:28px;
  }
  .content{
    margin: auto;
    margin-top: 16px;
  }
  .index_banner_image{
    width:1171px;
  }
  .top_stories{
    width:1171px;
  }
  .top_ten_description{
    width:unset !important;
  }
  .magnifier{
    float:right;
    margin-top: -33px;
  }
  .more_button_mobile{
    display:none;
  }
  .article_container{
    width: 70%;
  }
  .article_container .post_image{
    height: 230px;
  }
  .search_nav_close{
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-top: 26px;
    height: 28px;
    padding-right: 10px;
  }
}
