.post_comment_section{
  border-bottom:1px solid gainsboro;
  border-top:1px solid gainsboro;
}

.post_conversation{
  padding: 20px 0 20px 0;
}

.post_postbox{
  text-align:center;
}

.post_content .post_title{
  font-size: 28px;
}

.post_subtitle{
  padding-bottom: 20px;
  font-size: 1.2em;
  color: grey;
}

.post_avatar{
  height:20px;
  width:20px;
  background-color: lightgrey;
  display:inline-block;
  position: relative;
  top: -86px;
  margin-right:10px;
}

.post_textarea{
  width:80%;
  display:inline-block;
}

.post_content{
  width: 66%;
  /*margin: auto;
  display: inline-block;
  padding-left: 50px;*/
  margin: auto;
  display: block;
  padding-left: 0;
}

.post_page_sticky_container{
  /*margin-top:240px;*/
  height:unset;
}

.blog_text_content p{
  font-size:17px;
  line-height:29px;
  color:#333332;
  text-align:left;
}

.blog_images{
  width:100%;
}

.blog_text_content img{
  /*max-width: 825px;*/
}

.blog_text_content  a{
  text-decoration: none;
  color:steelblue;
}

.blog_text_content a:hover{
  color:#37559D;
}

.iframe_container{
  text-align:center;
  padding:20px 0 10px 0;
}

@media only screen and (max-width: 759px){
  body{
    /*background-color: pink;*/
  }
  .post_content{
    width: 90%;
    margin: auto;
    display: block;
    padding-left: 0;
  }
}

@media (min-width: 760px) and (max-width: 989px){
  body{
    /*background-color: skyblue;*/
  }
  .blog_text_content{
    text-align:center;
  }
  .post_page_sticky_container{
    display:none;
  }
  .post_content{
    width: 723px;
    margin: auto;
    display: block;
    padding-left: 0;
  }
}

@media (min-width: 990px) and (max-width: 1230px){
  body{
    /*background-color:indianred;*/
  }
  .blog_text_content{
    text-align:center;
  }
  .post_page_sticky_container{
    /*margin-top:240px;*/
    display:none;
  }
  .post_content{
    width: 935px;
    margin: auto;
    display: block;
    padding-left: 0;
  }
}

@media (min-width: 1231px) {
  body{
    /*background-color:limegreen;*/
  }
  .post_content{
    margin:unset;
  }
}
