.post_comment_section{
  border-bottom:1px solid gainsboro;
  border-top:1px solid gainsboro;
}

.post_conversation{
  padding: 20px 0 20px 0;
}

.post_postbox{
  width:100%;
}

.post_content .post_title{
  font-size: 28px;
}

.post_subtitle{
  padding-bottom: 20px;
  font-size: 1.2em;
  color: grey;
}

.post_avatar{
  height: 56px;
  width: 60px;
  background-color: lightgrey;
  display: inline-block;
  position: relative;
  top: -77px;
  margin-right: 10px;
  border-radius: 2px;
}

.post_textarea:focus{
  outline:0;
}

.post_textarea_content{
  display: inline;
}

.post_avatar{
  display:inline-block;
}

.post_as_user{
  background-color: #7E8A92;
  color: white;
  font-size: 12px;
  padding: 8px;
  border-bottom-right-radius: 5px;
  width: 100px;
  margin-left: auto;
  border:2px solid #748089;
  cursor:pointer;
}

.post_actions{
  /*display:inline;*/
  background-color: #F7F9FA;
  border: 2px solid #DFE3E7;
  width: 82.6%;
  position: relative;
  margin-top: -11px;
  margin-left: 116px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.post_as_user:hover{
  background-color:#68767E;
  border:2px solid #606A6F;
}

.post_textarea{
  display: inline;
  width: 80%;
  border: 2px solid #DFE3E7;
  padding: 10px;
  border-radius: 5px;
  color: #7C8D98;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid white;
}

.post_content{
  width: 66%;
  /*margin: auto;
  display: inline-block;
  padding-left: 50px;*/
  margin: auto;
  display: block;
  padding-left: 0;
}

.post_page_sticky_container{
  /*margin-top:240px;*/
  height:unset;
}

.posts_comments_main_container{
  margin-top:20px;
}

.post_comments_container{
  display:flex;
  margin-top:3px;
}

.post_comment{
  padding: 5px;
  border: 2px solid grey;
  width:90%;
}

.commenter_avatar_image{
  height: 47px;
  position: relative;
  top: 4px;
  left: 7px;
}

.commenter_username{
  position:relative;
  top:-4px;
  color:steelblue;
}

.comment_text{
  color:#303434;
}

.comment_time{
  margin-left:5px;
  color:grey;
  font-size:13px;
}

.reply_seperator, .reply_dot_seperator{
  color:grey;
}

.reply_dot_seperator{
  position:relative;
  top: -3px;
  margin-left: 5px;
  margin-right: 5px;
}

.reply_button:hover, .share_reply_button:hover{
  color:black;
  cursor:pointer;
}

.reply_button, .share_reply_button{
  color:grey;
  text-decoration: none;
  font-size:13px;
}

.commenter_input_container{
  margin-bottom:3px;
}

.comment_reply_container .fa:hover{
  color:black;
  cursor:pointer;
}

.comment_reply_container .fa{
  margin-right:5px;
  margin-left:5px;
  color:grey;
}

.reply_button{
  font-size:13px;
}

.commenter_input_container input{
  width:99%;
  background-color:transparent;
  border:none;
}

.commenter_avatar{
  background-color: steelblue;
  height: 55px;
  width: 53px;
  margin-right: 10px;
  border-radius: 7px;
}

.blog_text_content p{
  font-size:17px;
  line-height:29px;
  color:#333332;
  text-align:left;
}

.blog_images{
  width:100%;
}

.blog_text_content  a{
  text-decoration: none;
  color:steelblue;
}

.blog_text_content a:hover{
  color:#37559D;
}

.iframe_container{
  text-align:center;
  padding:20px 0 10px 0;
}

@media only screen and (max-width: 759px){
  body{
    background-color: pink;
  }
  .post_content{
    width: 100%;
    margin: auto;
    display: block;
    padding-left: 0;
  }
  .post_textarea{
    width:72%;
  }
  .post_actions{
    width: 75%;
    margin-left: 70px;
  }
}

@media (min-width: 760px) and (max-width: 989px){
  body{
    background-color: skyblue;
  }
  .blog_text_content{
    text-align:center;
  }
  .post_page_sticky_container{
    display:none;
  }
  .post_content{
    width: 723px;
    margin: auto;
    display: block;
    padding-left: 0;
  }
  .post_actions{
    width: 635px;
    margin-left: 70px;
  }
  .post_textarea{
    width:615px;
  }
}

@media (min-width: 990px) and (max-width: 1230px){
  body{
    background-color:indianred;
  }
  .blog_text_content{
    text-align:center;
  }
  .post_page_sticky_container{
    /*margin-top:240px;*/
    display:none;
  }
  .post_content{
    width: 935px;
    margin: auto;
    display: block;
    padding-left: 0;
  }
  .post_actions{
    width: 821px;
    margin-left: 69px;
  }
  .post_textarea{
    width:800px;
  }
}

@media (min-width: 1231px) {
  body{
    background-color:limegreen;
  }
  .post_content{
    margin:unset;
  }
  .post_actions{
    width: 720px;
    margin-left: 70px;
  }
  .post_textarea{
    width:700px;
  }
}
