extends layout

block content
  .content
    .your_settings_content
      .settings_nav
        .settings_nav_heading Account Settings
        a.settings_nav_link.profile_link(href="/account") Profile
        a.settings_nav_link.profile_password(href="/account/password") Password
      .settings_controls
        .settings_edit_profile
          .edit_profile_header Edit Profile
          .form(method="post" action="")
            .form_group
              div.label
                label.profile_label Username
              div
                input.profile_input.profile_username_input(name="" type="")
            .form_group
              div.label
                label.profile_label Email
              div
                input.profile_input.profile_email_input(name="" type="")
            input#update_profile(type="submit" value="Update Profile")
            span 
              a.close_account(href="/account/close-account") Close Account
  
