extends layout

block content
  .content
    .your_settings_content
      .settings_nav
        .settings_nav_heading Account Settings
        a.settings_nav_link.profile_link(href="/account") Profile
        a.settings_nav_link.profile_password(href="/account/password") Password
      .settings_controls
        .settings_edit_password
          .edit_profile_header Edit Password
          .password_form_error_message.error_message
          .form
            .form_group.hidden_user
              input.hiddenUserInput(type="text" value='{"id":'+user.id+',"email":"'+user.email+'"}' readonly="readonly")
            .form_group
              div.label
                label.profile_label Current Password
              div
                input.profile_input.profile_curr_password_input(type="password")
            .form_group
              div.label
                label.profile_label New Password
              div
                input.profile_input.profile_password_input(type="password")
            .form_group
              div.label
                label.profile_label Verify Password
              div
                input.profile_input.profile_verify_password_input(type="password")
            button#save_password_changes(onclick="updatePassword(this)") Save Changes
