.error_content{
  height:1000px;
  padding:120px;
}

.your_settings_content{
  height:100vh;
  display:flex;
  flex-wrap:wrap;
  padding-left:5% !important;
  min-height: 400px;
}

.edit_profile_header{
  color:#333333;
  font-weight: 500;
  font-size: 22px;
  padding-bottom:15px;
}

.settings_nav, .settings_controls{
  display:inline-block;
  padding-top:30px;
}

.settings_nav_link:hover{
  color:#2D86D0;
  cursor:pointer;
}

.settings_nav_link{
  font-size:15px;
  color:#555555;
  display:block;
  text-decoration:none;
  padding-bottom:20px;
}

.settings_nav{
  width:200px;
}

.settings_nav div{
  padding-bottom:20px;
}

.form_group{
  padding-bottom:20px;
}

.profile_label{
  font-size:13px;
}

.profile_input{
  width:330px;
  padding:6px;
}

#update_profile:hover, #save_password_changes:hover{
  background-color:#236CA6;
}

#close_account:hover{
  background-color:#CB2E25;
}

#close_account{
  background-color:#DB524B;
  border:1px solid #D63D34;
  padding: 8px 12px 8px 12px;
}

#update_profile, #save_password_changes{
  background-color: #2D86D0;
  border:none;
  padding: 9px 13px 9px 13px;
}

#update_profile, #save_password_changes, #close_account{
  color: white;
  font-size: 14px;
  margin-right:10px;
  cursor:pointer;
}

.close_account:hover{
  color:#236CA6;
}

.close_account{
  text-decoration: none;
  color: #2D86D0;
  font-size:14px;
}

.settings_close_account p{
  font-size:14px;
  margin-top: 0;
}

.profile_close_account_input{
  width:100%;
}

.account_avatar_image img{
  height:50px;
}

.account_avatar_image{
  border: 1px solid gainsboro;
  width: 50px;
  padding: 10px 10px 7px 10px;
  margin-bottom: 10px;
}

#close_account_error_message{
  color:red;
  padding-bottom:20px;
}


.password_form_error_message{
  color:red;
}


@media only screen and (max-width: 759px){
  .top_ten_number div{
    margin-top:-40px;
  }

  .adjacent_banner_images{
    display:none;
  }

  .index_banner_image{
    max-width:unset;
    margin-right:unset;
    margin-top:1px;
    height:357px;
  }

  .banner_article_title_container{
    background-color:unset;
    color:white;
    width:95%;
    margin-top:-155px;
  }

  .banner_article_title_main:hover{
    opacity:unset;
  }

  .banner_article_title_main{
    color:white;
  }

  .banner_article_category{
    color:white;
  }
}

@media (min-width: 760px) and (max-width: 989px){
  .banner_container{
    width:unset;
  }

  .central_banner_image{
    margin-top:3px;
  }

  .adjacent_banner_images{
    display:none;
  }

  .index_banner_image{
    max-width:unset;
    margin-right:unset;
  }
}

@media (min-width: 990px) and (max-width: 1019px){
  .adjacent_banner_images{
    display:none;
  }

  .index_banner_image{
    width:935px;
    max-width:unset;
    margin-right:unset;
    margin-top:1px;
  }
}

@media (min-width: 1030px) and (max-width: 1229px){
  .adjacent_banner_images{
    display:none;
  }

  .index_banner_image{
    width:935px;
    max-width:unset;
    margin-right:unset;
    margin-top:1px;
  }
}

@media (min-width: 1230px){
  .post_content_border{
    width: 1171px;
    margin: auto;
  }
}
