.post_comment_section{
  border-bottom:1px solid gainsboro;
  border-top:1px solid gainsboro;
}

.post_conversation{
  padding: 20px 0 20px 0;
}

.post_postbox{
  width:100%;
}

.post_content{
  margin-bottom: 100px !important;
}

.post_content .post_title{
  font-size: 28px;
}

.post_subtitle{
  padding-bottom: 20px;
  font-size: 1.2em;
  color: grey;
}

.post_user_avatar{
  height: 50px;
  margin-top: 3px;
}

.post_avatar{
  height: 56px;
  width: 60px;
  background-color: lightgrey;
  top: -77px;
  margin-right: 10px;
  border-radius: 2px;
  display:inline-block;
}

.disqus_form{
  display:flex;
}

.post_textarea:focus{
  outline:0;
}

.post_textarea_content{
  display: inline;
  width:100%;
}

.post_as_user{
  background-color: #7E8A92;
  color: white;
  font-size: 12px;
  padding: 8px;
  border: 2px solid #748089;
  cursor: pointer;
}

.post_actions{
  background-color: #F7F9FA;
  border: 2px solid #DFE3E7;
  position: relative;
  margin-top: -11px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: right;
}

.post_actions_empty{
  height:30px;
}

.post_as_user:hover{
  background-color:#68767E;
  border:2px solid #606A6F;
}

.post_textarea{
  display: inline;
  width: 96.6%;
  border: 2px solid #DFE3E7;
  padding: 10px;
  border-radius: 5px;
  color: #7C8D98;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid white;
}

.post_content{
  margin: auto;
  display: block;
  padding-left: 0;
}

.post_page_sticky_container{
  height:unset;
}

.posts_comments_main_container{
  margin-top:20px;
}

.post_comments_container{
  display:flex;
  margin-top:20px;
}

.post_comment, .reply_comment{
  padding: 5px;
  width:90%;
}

.commenter_avatar_default_image{
  top: 5px;
  left: 5px;
}

.commenter_avatar_image{
  top: 2px;
  left: 2px;
}

.commenter_avatar_image, .commenter_avatar_default_image{
  height: 47px;
  position: relative;
}

.commenter_name{
  color:steelblue;
  border:none;
}

.comment_text{
  color:#303434;
}

.comment_time{
  margin-left:5px;
  color:grey;
  font-size:13px;
}

.reply_seperator, .reply_dot_seperator{
  color:grey;
}

.reply_dot_seperator{
  position:relative;
  top: -3px;
  margin-left: 5px;
  margin-right: 5px;
}

.reply_button:hover, .share_reply_button:hover, .close_reply_button:hover{
  color:black;
  cursor:pointer;
}

.reply_button, .share_reply_button, .close_reply_button{
  color:grey;
  text-decoration: none;
  font-size:13px;
}

.reply_comment_container, .new_comment_container{
  margin-top: 20px;
}

.commenter_input_container{
  margin-bottom:3px;
}

.comment_reply_container .fa:hover{
  color:black;
  cursor:pointer;
}

.comment_reply_container .fa{
  margin-right:5px;
  margin-left:5px;
  color:grey;
}

.fa:hover{
  cursor:default !important;
}

.reply_button{
  font-size:13px;
  border:none;
}

.commenter_input_container input{
  width:99%;
  background-color:transparent;
  border:none;
}

.commenter_avatar{
  height: 55px;
  width: 53px;
  margin-right: 10px;
  border-radius: 7px;
}

.blog_text_content p{
  font-size:17px;
  line-height:29px;
  color:#333332;
  text-align:left;
}

.blog_images{
  width:100%;
}

.blog_text_content  a{
  text-decoration: none;
  color:steelblue;
}

.blog_text_content a:hover{
  color:#37559D;
}

.iframe_container{
  text-align:center;
  padding:20px 0 10px 0;
}

.post_ad_container{
  display:flex;
  margin-bottom:30px;
}

.post_advert{
  padding-right: 20px;
}

.post_advert img:hover{
  cursor:pointer;
}

.post_ad_description img{
  height: 20px;
}

.post_ad_description p:hover{
  opacity:0.6;
  cursor:pointer;
}

.post_ad_description p{
  font-size: 26px;
  font-weight: 600;
}

.post_advert{
  width: 421px;
}

.hypebae_post_ad, .post_advert{
  height:280px;
}

.hypebae_post_ad{
  border-top: 1px solid gainsboro;
  padding-top:30px;
}

.directed_at_username{
  color:grey;
}

.directed_at{
  height: 18px;
  margin-left: 3px;
}

.new_comment_container, .write_reply_comment{
  display: flex;
}

.post_comment_count{
  padding: 10px 10px 10px 0;
}

.hypebeast_address div:first-child{
  font-weight:600;
}

.hypebeast_address{
  line-height: 1.9;
  margin-bottom: 40px;
}

.post_content_border{
  border-top: 1px solid gainsboro;
}

@media only screen and (max-width: 759px){
  body{
    /*background-color: pink;*/
  }
  .post_content{
    display: block;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  .post_ad_container{
    display:unset;
    height: 520px;
  }
  .hypebae_post_ad{
    width: 90%;
    padding: 30px 15px 15px 15px;
  }
  .hypebae_post_ad, .post_advert{
    height:unset !important;
  }
  .post_ad_description{
    margin-bottom: 20px;
  }
  .post_ad_description img {
    height: 20px;
    padding: 10px;
    margin-top: -20px;
    padding: 6px 22px 22px 22px;
  }
  .post_ad_description p {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 22px 22px 22px;
    margin-top: -10px;
  }
  .post_advert{
    width: 100%;
    text-align: center;
  }
  .blog_text_content img{
    width: 100%;
  }
  iframe{
    width:100%;
  }
  .post_ad_description{
    margin-top: 61px;
  }
  .commenter_avatar_image{
    width: 46px;
  }
  .share_reply_button, .comment_time, .reply_dot_seperator{
    display:none;
  }
  .new_comment_container, .write_reply_comment{
    margin-left: -43px;
  }
  .generated_comment_container{
    margin: 10px 0px 7px 10px;
    overflow: overlay;
    width:89vw;
    min-width: unset;
  }
  .post_comments_container{
    width: 100vw;
  }
  .new_comment_container{
    margin-left: -46px;
  }
  .directed_at_username, .commenter_name{
    font-size: 12px;
  }
  .directed_at{
    height:11px;
  }
  .post_conversation{
    display:none;
  }
  .post_content_border{
    margin:unset;
    margin-top:-5px;
  }
  .storeNavLink:hover{
    color:grey;
    border-bottom:3px solid white;
  }
}

@media (min-width: 760px) and (max-width: 989px){
  body{
    /*background-color: skyblue;*/
  }
  .blog_text_content{
    text-align:center;
  }
  .post_page_sticky_container{
    display:none;
  }
  .post_content{
    width: 723px;
    margin: auto;
    display: block;
    padding-left: 0;
  }
  .post_ad_container{
    display:unset;
    height: 520px;
  }
  .hypebae_post_ad{
    width:700px;
  }
  .hypebae_post_ad, .post_advert{
    height:unset !important;
  }
  .post_ad_description{
    margin-bottom: 20px;
  }
  .post_content_border{
    margin-top: 1px;
  }
}

@media (min-width: 990px) and (max-width: 1230px){
  body{
    /*background-color:indianred;*/
  }
  .blog_text_content{
    text-align:center;
  }
  .post_page_sticky_container{
    display:none;
  }
  .post_content{
    width: 935px;
    margin: auto;
    display: block;
    padding-left: 0;
  }
  .post_ad_container{
    padding-top: 20px;
    border-top: 1px solid gainsboro;
  }
  .hypebae_post_ad{
    border-top:unset;
    padding-top:unset;
  }
}

@media (min-width: 1231px) {
  body{
    /*background-color:limegreen;*/
  }
  .post_content{
    margin:unset;
  }
  .post_ad_container{
    padding-top: 20px;
    border-top: 1px solid gainsboro;
  }
  .hypebae_post_ad{
    border-top:unset;
    padding-top:unset;
  }
}
