extends layout

block content
  .content.post_content_border
    .your_settings_content
      .settings_nav
        .settings_nav_heading Account Settings
        a.settings_nav_link.profile_link(href="/account") Profile
        - if(user.password){
          a.settings_nav_link.profile_password(href="/account/password") Password
        -}
      .settings_controls
        .settings_edit_profile
          .edit_profile_header Edit Profile
          form(method="post" action="/add-new-username-to-db")
            .form_group
              div.label
                label.profile_label Avatar
              div.account_avatar_image
                -if(user.user_avatar){
                  img(src=user.user_avatar)
                -} else {
                  img(src="images/hypebeast_images/general/default_blog_avatar.png")
                -}
              div.label
                label.profile_label Username
              div
                - if(!user.username){
                  input.profile_input.profile_username_input(name="username" type="text")
                - } else {
                  input.profile_input.profile_username_input(name="username" type="text" value=user.username)
                - }
            .form_group
              div.label
                label.profile_label Email
              div
                input.profile_input.profile_email_input(name="email" type="text" readonly="readonly" value=user.email)
            input#update_profile(type="submit" value="Update Profile")
            span 
              a.close_account(href="/account/close-account") Close Account
  
