extends layout

block content
  .content.post_content_border
    .your_settings_content
      .settings_nav
        .settings_nav_heading Account Settings
        a.settings_nav_link.profile_link(href="/account") Profile
        -if(user.password){
          a.settings_nav_link.profile_password(href="/account/password") Password
        -}
      .settings_controls
        .settings_close_account
          .edit_profile_header Close Account
          .error_message#close_account_error_message
          p Once account is closed, you won't be able to login again and all your recorded forum entries will be lost.
          .hidden_user#hiddenUserId !{user.id}
          #form
            -if(user.password){
              .form_group
                div.label
                  label.profile_label Current Password
                div
                  input.profile_input.profile_close_account_input(name="password" type="password")
            -}
            button#close_account(onclick="closeAccount()") CLOSE ACCOUNT
