
block footer
  .footer_content
    .footer_regions_container.footer_container
      ul.footer_headers REGIONS
        li.empty_link English
        li.empty_link 繁體中文
        li.empty_link 简体中文
        li.empty_link 日本語
        li.empty_link 한국
      
    .footer_more_container.footer_container
      ul.footer_headers MORE HYPEBEAST
        li.empty_link Forums
        li.empty_link HYPEBAE
        li.empty_link HBX
    .footer_subscribe_container.footer_container
      ul.footer_headers SUBSCRIBE TO HYPEBEAST
        li#footer_receive_news Receive the latest in Footwear, Fashion, Music, Creativity in our newsletters
      input.footer_subscribe_input(placeholder="Enter your email address")
      button.empty_link Sign Up
    .footer_connect_container.footer_container
      div.footer_headers CONNECT WITH US
        .icon_container
          div.fa.fa-facebook.square.social-icon
          div.fa.fa-twitter.square.social-icon
          div.fa.fa-instagram.square.social-icon
          img.snapchat-ghost(src="/images/hypebeast_images/socialMediaIcons/footer_snapchat.png")
          div.fa.fa-youtube.square.social-icon
          div.fa.fa-google-plus.square.social-icon
          div.fa.fa-tumblr.square.social-icon
          div.fa.fa-rss.square.social-icon
      ul.footer_headers OUR APPS
        .store_icons_container
          img.store_icons(src="/images/hypebeast_images/general/download_app_store.png")
          img.store_icons(src="/images/hypebeast_images/general/google_play.png")
  div.footer_text_links
    a.empty_link(href="#") About
    a.empty_link(href="#") Our Team
    a.empty_link(href="#") Contact Us
    a.empty_link(href="#") Jobs
    a.empty_link(href="#") Advertising
    a.empty_link(href="#") Terms & Conditions
    a.empty_link(href="#") Privacy Policy
    .footer_copyright
      p 2017 
        span 
          a.empty_link.hypebeast_limited(href="#") Hypebeast Limited
        span . All Rights Reserved.
      p HYPEBEAST is a registered trademark of 101 Media Lab, Ltd.
