extends layout

block content
  
  .content.post_content_border
    .login_content
      h2 Login to HYPEBEAST
      p Connect to HYPEBEAST with your Facebook account
      .social_media_login
        form(method='get' action='/auth/facebook/')
          button#facebook_login.log_in_btn(type='submit') 
            i.fa.fa-fw.fa-facebook#facebook-login
            span Login with Facebook
        form(method='get' action='/auth/google/')
          button#google_login.log_in_btn(type='submit') 
            i.fa.fa-fw.fa-google 
            span Login with Google
      p Sign up with your email address
      form(action="login" method="post")
        div.label
          label Email/Username
        div
          input.log_in_input(name="email" type="email" placeholder="Email" value="bb@aol.com")
        div.label
          label Password
        div
          input.log_in_input(name="password" type="password" placeholder="Password" value="bb")
        
        input#log_in(type="submit" value="Log In")
        
        a(class="special_link empty_link") Forgot password?
